/* ====================== Mobile and Up ========================== */

/* ADVISOR CARD - START WITH UVU ADVISOR CARD 2 */
/* MODIFIED BY AL BAKER, ORIGINALLY FROM UVU ONLINE */
.card-advisor-2 {
	box-shadow: 0px 1px 6px rgb(0 0 0 / 5%) !important;
	flex-direction: column;
	background-color: #fff !important;
	margin-top: 70px !important;
}
.card-advisor-2:after {
	content: '';
	bottom: -10px;
	right: -10px;
	width: 300px;
	height: 100px;
	z-index: -1;
	position: absolute;
	background: url(/cet/images/rectangle-stripes.png) no-repeat;
	background-size: 300px;
}
.card-advisor-2-img {
	left: 0 !important;
}
.card-advisor-2-img img {
	width: 128px;
	height: 128px;
	object-fit: cover;
	position: absolute;
	left: 12px;
	top: 0;
	border-radius: 50%;
	z-index: 1;
}
.card-advisor-2-img-container {
	position: relative;
	width: 140px !important;
	height: 140px !important;
}
.card-advisor-2-img-container:before {
	content: '';
	position: absolute;
	width: 128px;
	height: 128px;
	left: 0;
	z-index: 0;
	bottom: 0;
	border-radius: 50%;
	background-color: #00843d;
}
.card-advisor-2-content {
	flex-direction: column;
}
.card-advisor-2-inner-content {
	width: 100%;
}
.card-advisor-2-inner-content p {
	margin-bottom: 10px;
}
.card-advisor-2-info {
	margin: 0 !important;
}
.card-advisor-btns {
	display: none !important;
}

/* ====================== Tablet and Up (Overrides Mobile Styles) ========================== */
@media only screen and (min-width: 768px) {
	.card-advisor-2-img {
		display: block !important;
		position: absolute !important;
		top: -50px !important;
		left: 0 !important;
	}
	.card-advisor-2-content {
		padding: 110px 20px 20px 20px !important;
	}
}

/* ====================== Landscape Tablet and Up (Overrides Mobile Styles) ========================== */
@media only screen and (min-width: 992px) {
	.card-advisor-2-img img {
		width: 185px !important;
		height: 185px !important;
		left: 15px;
	}
	.card-advisor-2-img-container {
		width: 200px !important;
		height: 200px !important;
	}
	.card-advisor-2-img-container:before {
		width: 185px;
		height: 185px;
	}
	.card-advisor-2-content {
		padding: 175px 20px 20px 20px !important;
	}
}

/* ====================== Desktop Only (Overrides Mobile and Tablet Styles) ========================== */
@media only screen and (min-width: 1200px) {
	.card-advisor-2 {
		margin-left: auto;
		margin-right: 20px;
		margin-top: 0 !important;
		margin-bottom: 50px;
		flex-direction: row;
		width: 80%;
	}
	.card-advisor-2-img {
		left: -70px !important;
		top: 0 !important;
		width: 215px;
		height: 215px;
	}
	.card-advisor-2-img img {
		width: 200px !important;
		height: 200px !important;
	}
	.card-advisor-2-img-container {
		width: 215px !important;
		height: 215px !important;
	}
	.card-advisor-2-img-container:before {
		width: 200px;
		height: 200px;
	}
	.card-advisor-2-content {
		padding: 30px 20px 30px 170px !important;
	}
	.card-advisor-2:after {
		bottom: -60px;
		right: -20px;
		width: 350px;
		height: 200px;
		background-size: 350px;
	}
}

/* ====================== Wide Desktop Only (Overrides Mobile and Tablet Styles) ========================== */
@media only screen and (min-width: 1345px) {
	.card-advisor-2-content {
        padding: 30px 20px 30px 210px !important;
    }
}
