/* ====================== Mobile and Up ========================== */

/* CODED BY AL BAKER FOR USE ON ALL CET PAGES */

.short-border {
	max-width: 235px; /* ADJUST WIDTH TO MATCH TEXT */
	width: 100%;
	margin-inline-start: 0px;
}
