/* ====================== Mobile and Up ========================== */

/* MODIFIED BY AL BAKER FROM THE OLD UVU HOME PAGE FOR USE ON ALL CET DEPARTMENT LANDING PAGES */

/* START WITH OMNI COMPONENT CARD-PICTURE-2 */
.card-picture-2 {
	padding-bottom: 20px;
}
.card-picture-2 .card-picture-title {
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0px;
	padding: 20px;
	width: 100%;
	background-color: #fff;
	text-align: center;
	color: #275d38;
}
.card-picture-2 .card-picture-img {
	object-fit: cover;
	max-height: 194px;
	width: 100%;
}
.card-picture-2 .card-picture-content {
	display: none;
}
.card-picture-2 .card-picture-button {
	border-top: none;
	text-align: left;
	padding: 10px;
	display: block;
	border: 2px solid #275d38;
	border-radius: 8px;
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
	margin: 0px auto;
	padding: 15px 35px 15px 15px;
	width: 80%;
	font-size: 15px;
	position: relative;
	color: #275d38;
}
.card-picture-2 .card-picture-button::after {
	content: '\f061';
	font-family: 'Font Awesome 5 Pro';
	position: absolute;
	right: 15px;
	font-size: 10px;
	display: flex;
	bottom: 18px;
}

/* ONLY FOR ICON VERSION - ADDS AN ICON BEFORE THE CARD TITLE */
.card-picture-2 .card-picture-title::before {
	content: '\f19d';
	font-family: "Font Awesome 5 Pro";
	display: block;
	text-align: center;
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 8px;
}

/* ====================== Tablet and Up (Overrides Mobile Styles) ========================== */
@media only screen and (min-width: 768px) {
	.card-picture-2 .card-picture-img {
		max-height: none;
	}
}
