/* ====================== Mobile and Up ========================== */

/* MODIFIED BY AL BAKER FOR USE ON ALL CET PROGRAMS & DEGREES PAGES */

/* START WITH OMNI COMPONENT CARD-PICTURE-9 */
.card-picture-9 + .card-picture-9 {
	margin-block-start: 30px;
}
.card-picture-9 .card-picture-button {
	color: #275d38;
}
.card-picture-9 .card-picture-button:hover {
	text-decoration: underline;
}
@media only screen and (max-width: 767px) {
	.card-picture-9 .card-picture-content ul {
		padding-inline-start: 0px;
	}
}
