/* ====================== Mobile and Up ========================== */

/* MODIFIED BY AL BAKER FOR USE ON ALL CET PAGES */

/* START WITH OMNI COMPONENT EVENT-LIST-ITEM-1 */
.event-item[data-component-event-style='1'] .event-item-container {
	box-shadow: none;
	border: none;
}
.event-item[data-component-event-style='1'] .event-frame {
	border: none;
}
.event-item[data-component-event-style='1'] .poster {
	border: none;
}
.event-item[data-component-event-style='1'] .event-details {
	border-left: 5px solid #275d38;
	padding-top: 0;
	padding-bottom: 0;
}
.event-item[data-component-event-style='1'] .event-title {
	text-transform: none;
	margin-bottom: 5px;
}
/* TO HIDE TIME, WRAP ELEMENT IN DIV WITH CLASS .no-time */
div.no-time .event-item[data-component-event-style='1'] .event-time {
	display: none;
}
