/* ====================== Mobile and Up ========================== */

/* EVENT LIST ITEM - START WITH EVENT LIST ITEM 1 */
.event-item .event-item-container {
	box-shadow: none !important;
	border: none !important;
}
.event-item .event-frame {
	border: none !important;
}
.event-item .poster {
	border: none !important;
}
.event-item .event-details {
	border-left: 5px solid #275d38;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.event-item .event-title {
	text-transform: none !important;
	margin-bottom: 5px !important;
}
.event-item .event-time {
	display: none;
}
