/* ====================== Mobile and Up ========================== */

/* HALF IMAGE HALF CONTENT BANNER */
.half-banner {
	margin-right: -15px;
	margin-left: -15px;
}
.banner-content {
	padding: 40px 15px;
}
.banner-img img {
	max-height: 300px;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.contained {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

/* ====================== Landscape Tablet and Up (Overrides Mobile Styles) ========================== */
@media only screen and (min-width: 992px) {
	.half-banner {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-height: 355px;
	}
	.banner-img {
		height: 100%;
	}
	.banner-img img {
		max-height: 355px;
	}
}

/* ====================== Desktop Only (Overrides Mobile and Tablet Styles) ========================== */
@media only screen and (min-width: 1200px) {
	.half-banner {
		justify-content: flex-end;
		max-height: 330px;
	}
	.banner-content {
		max-width: 600px;
		justify-self: last baseline;
	}
	.banner-img img {
		max-height: 330px;
	}
}
