/* CYBERSECURITY PAGE */

/* MASTER'S BANNER */
.masters-banner {
	margin-right: -15px;
	margin-left: -15px;
}
.banner-content {
	padding: 40px 15px;
}

/* ICON TABLE - CYBERSECURITY PAGE */
div.icon-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
p.grid-item {
	display: flex;
	padding: 1rem;
	flex-direction: column;
	text-align: center;
	font-size: 22px;
	font-family: 'Rajdhani', sans-serif;
	color: #275d38;
	font-weight: 500;
	flex-basis: 20%;
}
p.grid-item i {
	font-size: 75px;
}

/* ====================== Tablet and Up (Overrides Mobile Styles) ========================== */
@media only screen and (min-width: 768px) {
	div.icon-grid {
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	p.grid-item {
		font-size: 18px;
	}
	p.grid-item i {
		font-size: 60px;
	}
}

/* ====================== Landscape Tablet and Up (Overrides Mobile Styles) ========================== */
@media only screen and (min-width: 992px) {
	.masters-banner {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-height: 375px;
	}
	.banner-img {
		height: 100%;
	}
	.banner-img img {
		max-height: 375px;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	p.grid-item {
		font-size: 22px;
	}
	p.grid-item i {
		font-size: 75px;
	}
}

/* ====================== Desktop Only (Overrides Mobile and Tablet Styles) ========================== */
@media only screen and (min-width: 1200px) {
	.masters-banner {
		justify-content: flex-end;
		max-height: 500px;
	}
	.banner-content {
		max-width: 600px;
		justify-self: last baseline;
	}
}
