/* ====================== Mobile and Up ========================== */

/* FOR DEPARTMENTS WITH 3 PROGRAMS - START WITH CARD-PICTURE-5 COMPONENT */
.card-picture-5 .card-picture-title {
	color: #275d38 !important;
	border-color: #275d38 !important;
	font-size: 24px !important;
}
