/* ====================== Mobile and Up ========================== */

/* HOME PAGE PROGRAMS - FOR DEPARTMENTS WITH 5 OR 7 PROGRAMS. CODED BY AL BAKER */
div.program-list {
	max-width: 970px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
div.program-list div {
	min-height: 130px;
	display: grid;
	grid-template-rows: 200px 1fr;
	align-items: center;
}
div.program-list div section {
	padding: 15px;
}
div.program-list div section a:hover {
	text-decoration: underline;
}
div.program-list img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* ====================== Tablet and Up (Overrides Mobile Styles) ========================== */
@media only screen and (min-width: 768px) {
	div.program-list div {
		grid-template-rows: auto;
		grid-template-columns: 130px 1fr;
	}
}
