/* ====================== Mobile and Up ========================== */

/* RESOURCES SECTION */
.resources-grid {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 100px 1fr;
	row-gap: 30px;
	column-gap: 15px;
}
.resources-grid i {
	font-size: 75px;
	color: #275d38;
	align-self: start;
	justify-self: center;
}
.resources-grid h2 {
	margin-top: 0;
}
.resources-grid .button-myuvu {
	margin-bottom: 0;
}
