/* ====================== Mobile and Up ========================== */

/* SALARIES/DEPARTMENT STATISTICS SECTION - MODIFIED BY AL BAKER FROM THE OLD WOODBURY PAGES */
.text-64 {
	font-size: 64px;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.justify-evenly {
	justify-content: space-evenly;
}

/* DEPARTMENT FACTS SIDE GRID - FOR MODIFIED VERSION WITH CSS GRID */
.fact-grid {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 100px 1fr;
	gap: 15px;
	padding: 10px 0;
}
.fact-grid img,
.fact-grid p {
	align-self: center;
	justify-self: center;
	margin: 0;
}

/* ====================== Landscape Tablet and Up (Overrides Mobile Styles) ========================== */
@media only screen and (min-width: 992px) {
	.fact-grid {
		grid-template-columns: 130px 1fr;
	}
}
