* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rajdhani', sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 500;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

h5 {
    font-size: 34px;
    font-weight: 500;
}

h6 {
    font-size: 12px;
    font-weight: 500;
}

main {
  padding: 15px;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.div {
  padding: 30px 15px;
}

.green-div {
  background-color: #275d38;
}

.border-uvu-green {
  border: 2px solid #275d38;
  color: #275d38;
}

.border-white {
  border: 2px solid #fff;
  color: #fff;
}
