/* ====================== Mobile and Up ========================== */
h1,
h2 {
	font-weight: 600;
}

/* REMOVE SPACE AND BORDER ON HERO IMAGES. USE ON HOME PAGES THAT HAVE A BANNER FLUSH WITH THE HERO */
.page-header {
	margin-bottom: 0 !important;
	border-bottom: none !important;
}

/* FOR PROGRAM PAGES WITH PROGRAM LEARNING OUTCOMES IN DROPDOWNS */
.accordion:not(.accordion-unstyled) {
	padding: 10px;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
}

blockquote {
	border-width: 7px;
    margin: 20px 0px;
	font-size: 17.5px;
    border-left: 5px solid #777;
}
