/* ====================== Mobile and Up ========================== */
h1,
h2 {
	font-weight: 600;
}

/* REMOVE SPACE AND BORDER ON HERO IMAGES. USE ON HOME PAGES THAT HAVE A BANNER FLUSH WITH THE HERO */
.page-header {
	margin-bottom: 0 !important;
	border-bottom: none !important;
}

/* ADD OVERLAY TO HERO IMAGES */
.fullbleed::before {
	background: linear-gradient(to bottom, #000000b3, #000000b3);
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: 0;
}

/* FOR PROGRAM PAGES WITH PROGRAM LEARNING OUTCOMES IN DROPDOWNS */
.accordion:not(.accordion-unstyled) {
	padding: 10px;
}

/* Just for me to make my coding environment more accurately match how it would look in Omni */
main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
}

p {
	margin-bottom: 10px;
}

blockquote {
	border-width: 7px;
    margin: 20px 0px;
	font-size: 17.5px;
    border-left: 5px solid #777;
}
