/* ====================== Mobile and Up ========================== */
h1,
h2 {
	font-weight: 600;
}

/* REMOVE SPACE AND BORDER ON HERO IMAGES. USE ON HOME PAGES THAT HAVE A BANNER FLUSH WITH THE HERO */
.fullbleed:has(+ [class*='bg-']) {
	margin-bottom: 0;
	border-bottom: none;
}

/* FOR BANNERS WITH AN ADVISOR CARD */
section[class*='bg-']:has([data-directory-style='styleAdvisor2']) {
	position: relative;
	z-index: 0;
}

/* ADD OVERLAY TO HERO IMAGES */
.fullbleed::before {
	background: linear-gradient(to bottom, #000000b3, #000000b3);
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: 0;
}

/* BASIC STYLING FOR STANDARD UVU DROPDOWN */
.accordion:not(.accordion-unstyled) {
	padding: 10px;
}
.accordion-content {
	padding-top: 10px;
}
.accordion-content td {
	vertical-align: top;
}

/* REFERENCE CLASSES FOR ME TO MAKE THESE EXAMPLES IN GITHUB APPEAR MORE ACCURATE TO HOW IT SHOWS UP IN OMNI */
.contained {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}
.text-64 {
	font-size: 64px;
}
.justify-between {
	justify-content: space-between;
}
main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
}

p {
	margin-bottom: 10px;
}

blockquote {
	border-width: 7px;
    margin: 20px 0px;
	font-size: 17.5px;
	padding: 0 20px;
    border-left: 5px solid #275d38;
}
