:root {
	--emergency-notice-height: 0px;
	--headroom-height: 124px;
	--body-offset: var(--headroom-height);
	--color-uvu-primary: #275d38;
	--color-uvu-secondary: #1a4127;
}
/* wrapper only styles */
@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}
*:focus,
a:focus {
	outline: 1px dashed currentColor;
}
body {
	min-width: 320px;
	min-height: 100vh;
	/* for fixed header */
	scroll-padding-block-start: var(--body-offset);
	padding-block-start: var(--body-offset);
	overflow-x: hidden;
}
#mquery {
	width: 0;
}
#globalHeader .skiptocontent {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -80px;
	background-color: #275d38;
	color: #fff;
	padding: 15px;
}
#globalHeader .skiptocontent:focus {
	width: auto;
	height: auto;
	color: #fff;
	clip: auto;
	overflow: visible;
}
#globalHeader .skiptocontent:hover {
	color: #fff;
}
#globalFooter {
	position: relative;
	font-family: 'Rajdhani', arial, sans-serif;
}
#globalFooter a:hover,
#globalFooter a:focus {
	text-decoration: none;
}
#globalFooter ol,
#globalFooter ul,
#globalFooter li {
	list-style: none;
	padding: 0;
	margin: 0;
}
#globalFooter .footerDept {
	background-color: #e4e4e4;
	background: #eaebec;
	background: linear-gradient(to bottom, #eaebec 0%, #ffffff 61%, #fbfbfb 100%);
	color: #222222;
	font-size: 14px;
	font-weight: 600;
	padding: 20px;
	line-height: 1.25em;
}
#globalFooter .footerDept ul {
	text-align: center;
}
#globalFooter .footerDept li {
	display: inline;
}
#globalFooter .footerDept li:after {
	display: inline;
	position: relative;
	content: ' | ';
}
#globalFooter .footerDept li:last-of-type:after {
	display: none;
}
#globalFooter .footerUniversity-top {
	color: #fff;
	background-color: #275d38;
	padding: 40px;
}
@media only screen and (min-width: 768px) {
	#globalFooter .footerUniversity-top {
		padding-block-start: 100px;
		padding-block-end: 80px;
	}
	#globalFooter .footerUniversity-top div[class*='col-'] {
		display: flex;
		justify-content: center;
	}
}
#globalFooter .footerUniversity-top div[class*='col-'] + div {
	border-width: 2px;
	border-color: white;
	border-top-style: solid;
}
@media only screen and (min-width: 768px) {
	#globalFooter .footerUniversity-top div[class*='col-'] + div {
		border-top-style: none;
		border-left-style: solid;
	}
}
#globalFooter .footerUniversity-top h2,
#globalFooter .footerUniversity-top a {
	color: #fff;
}
#globalFooter .footerUniversity-top h2 {
	margin-block-start: 15px;
	margin-block-end: 15px;
	font-size: 20px;
	font-weight: bold;
}
@media only screen and (max-width: 767px) {
	#globalFooter .footerUniversity-top div[class*='col-'] {
		padding: 0;
	}
	#globalFooter .footerUniversity-top h2 {
		margin-block-start: 20px;
	}
	#globalFooter .footerUniversity-top ul {
		margin-block-end: 20px;
	}
}
#globalFooter .footerUniversity-top li {
	font-size: 14px;
	font-family: Arial, sans-serif;
	line-height: 23px;
}
#globalFooter .footerUniversity-top li a {
	text-decoration: underline;
}
#globalFooter .footerUniversity-top li a:hover,
#globalFooter .footerUniversity-top li a:focus {
	text-decoration: none;
}
#globalFooter .footerUniversity-bottom {
	background-color: #275037;
	padding: 20px;
	text-align: center;
	font-size: 14px;
	color: white;
}
#globalFooter .footerUniversity-bottom li {
	display: inline-block;
}
#globalFooter .footerUniversity-bottom a {
	color: white;
}
#globalFooter .footerUniversity-bottom a span[class*='fa-'] {
	font-size: 22px;
}
@media only screen and (min-width: 992px) {
	#globalFooter .footerUniversity-bottom .footerUniversity-quicklinks {
		position: absolute;
		top: 50px;
		left: 0;
	}
}
#globalFooter .footerUniversity-bottom .footerUniversity-quicklinks li:last-of-type {
	margin-inline-start: 25px;
}
#globalFooter .footerUniversity-bottom .footerUniversity-quicklinks a {
	display: flex;
	align-items: center;
}
#globalFooter .footerUniversity-bottom .footerUniversity-title {
	visibility: hidden;
}
#globalFooter .footerUniversity-bottom .footerUniversity-contact li:not(:last-of-type):after {
	content: '\2022';
	padding: 0 7px 0 10px;
}
#globalFooter .footerUniversity-bottom .footerUniversity-legalinfo li:not(:last-of-type):after {
	content: '|';
	position: relative;
	padding: 0 7px 0 10px;
}
#globalFooter .footerUniversity-bottom .footerUniversity-legalinfo a:hover,
#globalFooter .footerUniversity-bottom .footerUniversity-legalinfo a:focus {
	text-decoration: underline;
}
#globalFooter .footerUniversity-bottom .university-social {
	padding-top: 20px;
	display: flex;
	justify-content: center;
}
#globalFooter .footerUniversity-bottom .university-social a {
	padding: 0 10px;
}
@media only screen and (min-width: 992px) {
	#globalFooter .footerUniversity-bottom .university-social a {
		padding: 0 8px;
	}
}
#ob {
	display: none;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
#ob a {
	display: block;
	height: 52px;
	width: 59px;
	text-decoration: none;
	background: url('/_common/images/hpob.png') no-repeat scroll 0 0 transparent;
}
#globalHeader a:hover,
#deptNav a:hover,
#slideNav a:hover,
#globalHeader a:focus,
#deptNav a:focus,
#slideNav a:focus {
	text-decoration: none;
}
#globalHeader ol,
#deptNav ol,
#slideNav ol,
#globalHeader ul,
#deptNav ul,
#slideNav ul,
#globalHeader li,
#deptNav li,
#slideNav li {
	list-style: none;
	padding: 0;
	margin: 0;
}
#globalHeader {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #ddd;
	z-index: 1000;
	padding-block-start: var(--emergency-notice-height);
}
#globalHeader .globalHeaderMain {
	position: relative;
	display: grid;
	grid-template-areas: 'menu home title' 'actions actions actions';
	grid-template-columns: 56px 97px 1fr;
	align-items: center;
	font-family: 'Rajdhani', arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.1em;
	color: var(--color-uvu-primary);
}
@media only screen and (min-width: 768px) {
	#globalHeader .globalHeaderMain {
		display: flex;
	}
}
#globalHeader .slideNavToggle,
#globalHeader .globalTitle,
#globalHeader .deptTitle {
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	height: 100%;
	min-height: 80px;
	padding: 15px;
	color: var(--color-uvu-primary);
	cursor: pointer;
	float: left;
}
#globalHeader .slideNavToggle:hover,
#globalHeader .globalTitle:hover,
#globalHeader .deptTitle:hover,
#globalHeader .slideNavToggle:focus,
#globalHeader .globalTitle:focus,
#globalHeader .deptTitle:focus {
	background-color: #f2f2f2;
}
#globalHeader .slideNavToggle {
	position: relative;
}
@media only screen and (min-width: 1200px) {
	#globalHeader .slideNavToggle {
		display: none;
	}
}
#globalHeader .slideNavToggle img[src$='.svg'] {
	min-width: 26px;
}
#globalHeader .globalTitle {
	height: 100%;
	text-transform: uppercase;
	grid-area: home;
}
@media only screen and (min-width: 1200px) {
	#globalHeader .globalTitle {
		margin-inline-start: 30px;
	}
}
#globalHeader .deptTitle {
	font-size: 20px;
	text-transform: uppercase;
	grid-area: title;
}
.headroom #globalHeader {
	transition: transform 0.5s;
}
.headroom--pinned #globalHeader {
	transform: translateY(0);
}
.headroom--unpinned #globalHeader {
	transform: translateY(-100%);
}
.headroom--bottom #globalHeader {
	transform: translateY(0);
}
#globalHeader .actionBar {
	display: flex;
	height: 100%;
	min-width: 320px;
	justify-content: center;
	align-items: center;
	grid-area: actions;
	border-block-start: 5px solid #f4f4f4;
	padding-block-start: 15px;
	padding-block-end: 15px;
	overflow: hidden;
}
@media only screen and (min-width: 768px) {
	#globalHeader .actionBar {
		border-block-start: none;
		position: absolute;
		right: 0;
		top: 0;
	}
}
@media only screen and (min-width: 768px) {
	#globalHeader .actionBar {
		position: absolute;
		right: 0;
		top: 0;
	}
}
@media only screen and (min-width: 992px) {
	#globalHeader .actionBar ul.global-quicklinks a {
		font-size: 14px;
	}
}
#globalHeader .actionBar #mainSearch {
	display: none;
	width: 80px;
	height: 200%;
}
#globalHeader .actionBar #mainSearch:hover,
#globalHeader .actionBar #mainSearch:focus {
	background-color: #f2f2f2;
}
#globalHeader .actionBar #mainSearch > a:first-child {
	display: flex;
	height: 100%;
	width: inherit;
	justify-content: center;
	align-items: center;
}
@media only screen and (min-width: 1200px) {
	#globalHeader .actionBar #mainSearch {
		display: block;
		margin-inline-end: 30px;
	}
}
ul.global-quicklinks {
	display: flex;
}
ul.global-quicklinks > li + li {
	margin-inline-start: 10px !important;
	display: inline-block;
}
@media only screen and (min-width: 768px) {
	ul.global-quicklinks > li + li {
		margin-inline-start: 17px !important;
	}
	ul.global-quicklinks > li + li:last-child {
		margin-inline-end: 17px !important;
	}
}
@media only screen and (min-width: 1200px) {
	ul.global-quicklinks > li + li:last-child {
		margin-inline-end: 0px !important;
	}
}
ul.global-quicklinks li:first-child a {
	background-color: var(--color-uvu-primary);
	color: white;
}
ul.global-quicklinks li a {
	padding-inline-start: 20px;
	padding-inline-end: 20px;
	padding-block-start: 1ex;
	padding-block-end: 1ex;
	font-family: 'Rajdhani', arial, sans-serif;
	font-size: 12px;
	font-weight: 600;
	border-radius: 25px;
	background-color: #efefef;
	color: var(--color-uvu-primary);
	text-transform: uppercase;
}
ul.global-quicklinks li a:hover,
ul.global-quicklinks li a:focus {
	background-color: var(--color-uvu-secondary);
	color: white;
}
ul.global-quicklinks li:last-child a svg {
	width: 1.5em;
}
/* slide nav */
#slideNav {
	position: fixed;
	left: 0;
	top: 0;
	transform: translateX(-360px);
	height: 100vh;
	width: 320px;
	background-color: white;
	box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.3);
	font-family: 'Rajdhani', sans-serif;
	font-size: 14px;
	color: #fff;
	line-height: 1.2;
	z-index: 2021;
	transition: transform 0.5s;
	padding-top: 0px;
	padding-bottom: 0px;
}
#slideNav.active {
	transform: translateX(0);
}
#slideNav .menu-body {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	padding-block-start: 64px;
	padding-block-end: 50px;
}
#slideNav header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	z-index: 500;
	height: 64px;
	padding-block-start: 20px;
	padding-block-end: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#slideNav header h1 {
	font-size: 14pt;
	font-weight: 600;
	display: inline-block;
	margin: 0;
}
#slideNav header .tabClose {
	color: #c4c4c4;
	font-size: 1.2em;
}
#slideNav form#slideSearch {
	background: var(--color-uvu-primary);
	height: 56px;
	padding-inline-start: 20px;
	padding-inline-end: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
#slideNav form#slideSearch input[type='submit'] {
	-webkit-appearance: unset;
	border: none;
	background: transparent url('/_common/images/search.svg') no-repeat;
	min-width: 15px;
}
#slideNav form#slideSearch #slideSearchInput {
	background: transparent;
	border: none;
	color: white;
	width: 90%;
	font-size: 16px;
	font-weight: 600;
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	/* Internet Explorer 10-11 */
	/* Microsoft Edge */
}
#slideNav form#slideSearch #slideSearchInput::placeholder {
	color: white;
	opacity: 1;
	/* Firefox */
}
#slideNav form#slideSearch #slideSearchInput:-ms-input-placeholder {
	color: white;
}
#slideNav form#slideSearch #slideSearchInput::-ms-input-placeholder {
	color: white;
}
#slideNav form#slideSearch #slideSearchSuggest {
	top: 56px;
}
#slideNav ul.global-quicklinks {
	min-height: 60px;
	padding-block-start: 15px;
	padding-block-end: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#slideNav ul.global-quicklinks > li + li {
	margin-inline-start: 10px !important;
}
#slideNav ul.global-quicklinks > li + li:last-child {
	margin-inline-end: 0px !important;
}
#slideNav #breadcrumbContainer {
	background: rgba(0, 0, 0, 0.1);
	padding-block-start: 10px;
	padding-block-end: 10px;
}
#slideNav #breadcrumbContainer #breadcrumbNav .breadcrumbScroll {
	font-size: 14px;
	font-weight: 600;
	overflow-x: auto;
	overflow-y: hidden;
	/* Hide scrollbar for Chrome, Safari and Opera */
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}
#slideNav #breadcrumbContainer #breadcrumbNav .breadcrumbScroll::-webkit-scrollbar {
	display: none;
}
#slideNav #breadcrumbContainer #breadcrumbNav .breadcrumbScroll ul {
	margin: 0;
	padding: 0;
	display: flex;
}
#slideNav #breadcrumbContainer #breadcrumbNav .breadcrumbScroll ul li:first-child {
	padding-inline-start: 30px;
}
#slideNav #breadcrumbContainer #breadcrumbNav .breadcrumbScroll ul > li + li::before {
	content: '/';
	color: var(--color-uvu-primary);
	font-weight: 500;
	padding-inline-start: 0.5em;
	padding-inline-end: 0.5em;
}
#slideNav #breadcrumbContainer #breadcrumbNav .breadcrumbScroll ul li:last-child {
	font-weight: bold;
	padding-inline-end: 30px;
}
#slideNav #breadcrumbContainer #breadcrumbNav .breadcrumbScroll ul li:last-child a {
	color: var(--color-uvu-primary);
	text-decoration: none;
}
#slideNav #breadcrumbContainer #breadcrumbNav .breadcrumbScroll ul a {
	color: var(--color-uvu-primary);
	white-space: nowrap;
}
#slideNav #breadcrumbContainer #breadcrumbNav .breadcrumbScroll ul a:hover,
#slideNav #breadcrumbContainer #breadcrumbNav .breadcrumbScroll ul a:focus {
	text-decoration: none;
}
#slideNav #breadcrumbContainer .breadcrumbScroll-left,
#slideNav #breadcrumbContainer .breadcrumbScroll-right {
	display: none;
	position: absolute;
	top: 0;
	height: 100%;
	width: 25px;
	left: 0;
	background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
#slideNav #breadcrumbContainer .breadcrumbScroll-right {
	left: auto;
	right: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
#slideNav .slideDeptNav {
	background: var(--color-uvu-primary);
	padding-block-start: 40px;
	padding-block-end: 40px;
	padding-inline-start: 25px;
}
#slideNav .slideDeptNav ul > li + li {
	margin-block-start: 5px;
}
#slideNav .slideDeptNav ul li {
	list-style-type: '\f061';
	font-family: 'Font Awesome 5 Pro';
	padding-inline-start: 15px;
	margin-inline-start: 15px;
	line-height: 24px;
}
#slideNav .slideDeptNav ul li a {
	color: white;
	font-weight: 600;
	font-family: 'Rajdhani', sans-serif;
}
#slideNav #breadcrumbContainer,
#slideNav .slideDeptNav {
	text-transform: uppercase;
}
#slideNav #breadcrumbContainer a,
#slideNav .slideDeptNav a {
	text-decoration: underline;
}
#slideNav #breadcrumbContainer a:hover,
#slideNav .slideDeptNav a:hover,
#slideNav #breadcrumbContainer a:focus,
#slideNav .slideDeptNav a:focus {
	text-decoration: none;
}
#slideNav #globalNav {
	padding-inline-start: 25px;
	padding-inline-end: 25px;
}
#slideNav #globalNav > ul {
	font-weight: bold;
}
#slideNav #globalNav > ul > li + li {
	border-top: 1px solid var(--color-uvu-primary);
}
#slideNav #globalNav > ul > li {
	color: var(--color-uvu-primary);
	padding-block-start: 5px;
	padding-block-end: 5px;
	line-height: 30px;
}
#slideNav #globalNav > ul > li > li {
	color: black;
}
#slideNav #globalNav > ul > li > li > li {
	color: var(--color-uvu-primary);
	font-weight: 600;
}
#deptNav {
	width: 100%;
	background-color: #f2f2f2;
	border-top: 1px solid #ddd;
	text-transform: uppercase;
}
#deptNav ul {
	display: flex;
}
#deptNav a {
	display: flex;
	align-items: center;
	padding: 15px 10px;
	font-family: 'Rajdhani', arial, sans-serif;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 1em;
	letter-spacing: 1px;
	color: #1a1a1a;
	white-space: nowrap;
}
#deptNav a:hover,
#deptNav a:focus {
	background-color: #ddd;
}
#deptNav .deptNavWrap {
	display: flex;
	min-height: 10px;
	margin: 0 auto;
	overflow-x: auto;
	overflow-y: hidden;
}
@media only screen and (min-width: 992px) {
	#deptNav .deptNavWrap:not(.overflowing) {
		margin-inline-start: 30px;
	}
}
#deptNav .deptNavWrap.overflowing {
	scrollbar-color: var(--color-uvu-primary) transparent;
}
#deptNav .deptNavWrap.overflowing::before,
#deptNav .deptNavWrap.overflowing::after {
	content: '\f061';
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 22px;
	padding: 5px;
	background: #f7f7f7;
	font-family: 'Font Awesome 5 Pro';
	color: var(--color-uvu-primary);
	font-size: 12px;
}
#deptNav .deptNavWrap.overflowing::after {
	content: '\f060';
}
@media only screen and (min-width: 992px) {
	#deptNav .deptNavWrap.overflowing::-webkit-scrollbar {
		height: 20px;
	}
	#deptNav .deptNavWrap.overflowing::-webkit-scrollbar-track {
		background: #ebebeb;
	}
	#deptNav .deptNavWrap.overflowing::-webkit-scrollbar-thumb {
		background: var(--color-uvu-primary);
		border-radius: 10px;
		border: 5px solid #ebebeb;
	}
}
#globalSearchSuggest,
#slideSearchSuggest {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	color: #333;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
	right: 0;
	max-width: 320px;
	display: none;
	background-color: #fff;
}
#globalSearchSuggest ul,
#slideSearchSuggest ul {
	padding: 0;
	margin-top: 0;
	list-style: none;
	color: #fff;
}
#globalSearchSuggest a,
#slideSearchSuggest a {
	display: block;
	padding: 10px 15px;
	color: #434344;
	overflow: hidden;
	font-size: 16px;
	font-family: 'Rajdhani', arial, sans-serif;
	text-transform: initial;
	text-overflow: ellipsis;
}
#globalSearchSuggest a.search-continue,
#slideSearchSuggest a.search-continue {
	background-color: #275037;
	color: #fff;
	text-align: center;
}
#globalSearchSuggest li,
#slideSearchSuggest li {
	padding: 0;
	margin: 0;
}
#globalSearchSuggest li:nth-child(odd),
#slideSearchSuggest li:nth-child(odd) {
	background-color: #f7f7f8;
}
#globalSearchSuggest li:hover a,
#slideSearchSuggest li:hover a,
#globalSearchSuggest li.selected a,
#slideSearchSuggest li.selected a {
	text-decoration: none;
	color: #005c2b;
	background-color: #fffbf0;
}
#globalSearchSuggest span.qs-title,
#slideSearchSuggest span.qs-title {
	display: block;
	padding: 5px;
}
#globalSearchSuggest span.query,
#slideSearchSuggest span.query {
	font-weight: bold;
}
#globalSearchSuggest span.search-result-url,
#slideSearchSuggest span.search-result-url {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#globalSearchSuggest.active,
#slideSearchSuggest.active {
	display: block;
}
#slideSearchSuggest {
	width: 100%;
}
#globalSearchArea {
	display: flex;
	justify-content: center;
	position: relative;
	font-family: 'Rajdhani', arial, sans-serif;
}
#globalSearchArea .search-group {
	display: flex;
	align-items: center;
	background: white;
	padding-inline-start: 50px;
	padding-block-start: 40px;
	padding-block-end: 40px;
	color: var(--color-uvu-primary);
	font-size: 19px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	width: 80%;
}
#globalSearchArea .search-group label {
	font-weight: bold;
	margin: 0;
}
#globalSearchArea .search-group #globalSearchInput {
	margin-inline-start: 20px;
	margin-inline-end: 20px;
	padding-inline-start: 15px;
	border: none;
	color: var(--color-uvu-primary);
	border-left: 1px solid var(--color-uvu-primary);
	flex-grow: 1;
}
#globalSearchArea div#globalSearchSuggest.active {
	left: 22%;
	top: 70%;
}
#globalSearchArea #globalSearchSubmit {
	-webkit-appearance: unset;
	border: none;
	width: 103px;
	color: white;
	font-size: 21px;
	font-weight: 600;
	text-transform: uppercase;
	background: var(--color-uvu-primary);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.ou-edit {
	opacity: 0;
	position: fixed;
	left: calc(50% - 10ch);
	top: -100px;
	z-index: 2016;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
	transition: all 0.5s;
}
.ou-edit.show {
	opacity: 1;
	top: 15px;
}
/* Back To Top */
.backToTop {
	font-size: 3rem;
	position: fixed;
	right: 5px;
	bottom: 5px;
	z-index: 10;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 1px 1px 2px #656a6f;
	opacity: 0;
	transform: translateX(100px);
	transition: all 0.5s;
}
.backToTop svg {
	background: #275d38;
	border-radius: 50%;
}
.backToTop:hover,
.backToTop:focus,
.backToTop:active {
	text-decoration: none;
	color: #ffffff;
	text-shadow: 1px 1px 2px #42464b;
}
.headroom--not-top .backToTop {
	opacity: 1;
	transform: translateX(0);
}
/* Emergency alert */
#emergencywrap {
	position: fixed;
	background-color: #6d1706;
	padding: 20px;
	z-index: 2000;
	top: 0;
	width: 100%;
}
#emergencywrap #emergency {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media only screen and (min-width: 992px) {
	#emergencywrap #emergency {
		flex-direction: row;
	}
}
#emergencywrap #emergency:after {
	display: table;
	position: relative;
	content: '';
	clear: both;
}
#emergencywrap #emergency,
#emergencywrap #emergency a {
	color: #fff;
}
#emergencywrap #emergency * {
	padding: 0;
	margin: 0;
}
#emergencywrap #emergency .emergency-title {
	font-family: 'Rajdhani', arial, sans-serif;
	font-weight: bold;
	font-size: 11px;
}
@media only screen and (min-width: 992px) {
	#emergencywrap #emergency .emergency-title {
		font-size: 13px;
		margin-inline-end: 25px;
	}
}
#emergencywrap #emergency .emergency-details {
	font-size: 8px;
	font-family: Arial, sans-serif;
}
@media only screen and (min-width: 992px) {
	#emergencywrap #emergency .emergency-details {
		font-size: 11px;
	}
}
#emergencywrap #emergency a {
	text-decoration: underline;
	font-weight: bold;
}
/*===============TABLET AND UP===============*/
@media only screen and (min-width: 768px) {
	#mquery {
		width: 1px;
	}
}
/*==========LANDSCAPE TABLET AND UP=========*/
@media only screen and (min-width: 992px) {
	#mquery {
		width: 2px;
	}
	#ob {
		display: block;
	}
	.backToTop {
		right: 20px;
		bottom: 5.33333rem;
	}
}
/*===============DESKTOP ONLY===============*/
@media only screen and (min-width: 1200px) {
	#mquery {
		width: 3px;
	}
}
html[data-uvu-app] {
	--headroom-height: 0px;
}
html[data-uvu-app] .embedded #globalHeader .globalHeaderMain,
html[data-uvu-app] .embedded #globalHeader .skiptocontent,
html[data-uvu-app] .embedded #slideNav,
html[data-uvu-app] .embedded #globalFooter .footerUniversity,
html[data-uvu-app] .embedded #globalFooter .footerDept,
html[data-uvu-app] .embedded #deptNav {
	display: none;
}
/*# sourceMappingURL=./wrapper.css.map */
