/* Department CSS Document */
/*For mobile first adaptive design place styles for mobile and up in the mobile and up area.
Place styles for tablet and up inside the media query in the tablet and up area.
Place styles for desktop only inside the media query in the desktop only area.

For questions or media query training contact Web Development Services.
*/
/* ====================== Mobile and Up ========================== */

/* SPECIFIC STYLING FOR HELPFUL LINKS LISTS */
.links-list-1 {
  background-color: #f2f9e9;
}
.links-list-1 li {
  border-bottom: 1px solid #a1d263;
}
.links-list-1 li span {
  color: #78BE20;
}

.links-list-2 {
  background-color: #edf6ec;
}
.links-list-2 li {
  border-bottom: 1px solid #81BE79;
}
.links-list-2 li span {
  color: #4ba23f;
}

/* Parent li with child ul */
.list-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* GENERAL STYLING FOR ALL HELPFUL LINKS LISTS */
.links-list {
  list-style: none;
  padding: 15px;
  border-radius: 5px;
  letter-spacing: Ã‚Â 1px;
}
.links-list li {
  margin: 0px;
  padding: 8px 0px;
}
.links-list li:last-of-type {
  border: none;
}
.links-list a {
  color: #000;
  font-size: 14px;
  display: block;
}

/* DEGREE CARDS */
/* .degree-card {
  background-color: #fff;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  height: unset;
  overflow: hidden;
  position: relative;
  margin-block-start: 20px;
}
.degree-card .degree-name {
  margin: 0;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  padding-block-start: 20px;
  padding-block-end: 10px;
  border-bottom: 4px solid #EAEAEA;
  font-family: "Rajdhani", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  grid-area: title;
}
.degree-card .degree-img {
  order: -1;
  height: 100%;
  grid-area: img;
}
.degree-card .degree-content {
  padding: 20px;
  grid-area: content;
  font-size: 14px;
}
.degree-card .degree-credits {
  color: #275d38;
  padding: 0.5rem 0 0 0;
}
.degree-card .degree-button {
  font-family: "Rajdhani", Arial, sans-serif;
  font-weight: bold;
  color: #275d38;
} */
.degree-card {
  background-color: #fff;
  min-height: 200px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-block-start: 20px;
}
.degree-card .degree-name {
  margin: 0;
  padding-block-end: 10px;
  border-bottom: 4px solid #EAEAEA;
  font-family: "Rajdhani", Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.degree-card .degree-img {
  order: -1;
  height: 100%;
  grid-area: img;
}
.degree-card .degree-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  grid-area: content;
}
.degree-card .degree-content p {
  margin-bottom: 10px;
}
.degree-card .degree-credits {
  color: #275d38;
  padding: 0.5rem 0 0 0;
}

/* STUDENT TESTIMONIAL */

/* FACULTY TESTIMONIAL */


/*End mobile and up styles*/
/* ====================== Tablet and Up (Overrides Mobile Styles) ========================== */
@media only screen and (min-width: 768px) {
  .degree-card {
    display: grid;
    grid-template-areas: "img content";
  }
  .degree-card .degree-img {
    object-fit: cover;
    height: 100%;
  }
  .short-card {
    grid-template-columns: 200px 1fr;
  }
  .short-card .degree-img {
    max-width: 200px;
  }
  .large-card {
    grid-template-columns: 250px 1fr;
  }
  .large-card .degree-img {
    max-width: 250px;
  }
}

/*end media query*/
/*End tablet and up styles*/
/* ====================== Landscape Tablet and Up (Overrides Mobile Styles) ========================== */
@media only screen and (min-width: 992px) {

	
}

/*end media query*/
/*End landscape tablet and up styles*/
/* ====================== Desktop Only (Overrides Mobile and Tablet Styles) ========================== */
@media only screen and (min-width: 1200px) {
	
	
}

/*end media query*/
/*End desktop only styles*/
/* ====================== Extra-Wide Desktop Only (Overrides Mobile, Tablet, and Desktop Styles) ========================== */
@media only screen and (min-width: 1500px) {
	
	
}

/*end media query*/
/*End extra-wide desktop only styles*/
/*END OF DOCUMENT*/
