/* ====================== Mobile and Up ========================== */
/* DESIGNED BY THE CET WEB TEAM, CODED BY AL BAKER */

/* TAB NAVIGATION STYLING - CURRENTLY IN USE ON THE MECHATRONICS STUDENT WORK PAGE */
div.student-projects {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 30px;
}
ul.tabs {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	border-bottom: 3px solid #275d38;
}
ul.tabs li {
	margin: 0;
	width: 25%;
	max-width: 200px;
}
ul.tabs li a.anchorTab {
	display: block;
	padding: 10px;
	width: 100%;
	text-align: center;
	border-radius: 10px 10px 0 0;
	border: 2px solid #275d38;
	border-bottom: none;
	font-weight: 600;
	font-family: 'Rajdhani', sans-serif;
	font-size: 18px;
	transition: 0.6s;
}
ul.tabs li a.anchorTab.active {
	background-color: #275d38;
	color: white;
}
ul.tabs li a.anchorTab:hover {
	text-decoration: none;
	background-color: #dcdcdd;
	color: #275d38;
}

/* ====================== Tablet and Up (Overrides Mobile Styles) ========================== */
@media only screen and (min-width: 768px) {
	div.student-projects {
		grid-template-columns: 1fr 1fr;
	}
}

/* ====================== Landscape Tablet and Up (Overrides Mobile Styles) ========================== */
@media only screen and (min-width: 992px) {
	div.student-projects {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
