<h2 class="section-title">[Department Name] Programs</h2>
<div class="padding-left-15 padding-top-5">
<p><a href="/college-name/dept-name/program-name/student-work/"><span class="fal fa-hard-hat text-uvu-green padding-right-5" aria-hidden="true">&nbsp;</span>[Program Name]</a></p>
<p><a href="/college-name/dept-name/program-name/student-work/"><span class="fal fa-desktop text-uvu-green padding-right-5" aria-hidden="true">&nbsp;</span>[Program Name]</a></p>
<p><a href="/college-name/dept-name/program-name/student-work/"><span class="fal fa-bolt text-uvu-green padding-right-5" aria-hidden="true">&nbsp;</span>[Program Name]</a></p>
<p><a href="/college-name/dept-name/program-name/student-work/"><span class="fal fa-cog text-uvu-green padding-right-5" aria-hidden="true">&nbsp;</span>[Program Name]</a></p>
</div>
