<h2 class="section-title">Engineering Programs</h2>
<div class="padding-left-15 padding-top-5">
<p><a href="/cet/mce/student-work/civil/" target="_blank" rel="noopener"><span class="fal fa-hard-hat text-uvu-green padding-right-5" aria-hidden="true">&nbsp;</span>Civil Engineering</a></p>
<p><a href="/cet/ece/student-work/"><span class="fal fa-desktop text-uvu-green padding-right-5" aria-hidden="true">&nbsp;</span>Computer Engineering</a></p>
<p><a href="/cet/ece/student-work/"><span class="fal fa-bolt text-uvu-green padding-right-5" aria-hidden="true">&nbsp;</span>Electrical Engineering</a></p>
<p><a href="/cet/mce/student-work/mechanical/" target="_blank" rel="noopener"><span class="fal fa-cog text-uvu-green padding-right-5" aria-hidden="true">&nbsp;</span>Mechanical Engineering</a></p>
</div>
