<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>

		<link href="https://webstaging.uvu.edu/_common/css/global.css" rel="stylesheet" />
		<link href="https://webstaging.uvu.edu/_common/ext/directory/directory.css" rel="stylesheet" />
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
		<link href="../css/advisor-card.css" rel="stylesheet" />

		<title>Advisor Card</title>
	</head>
	<body>
		<main>
			<!-- <div class="card-advisor-2" style="margin-top: 50px">
				<div class="card-advisor-2-img">
					<p>
						<img
							title="Megan Stanley"
							src="../images/megan_advisor_card_headshot.jpg"
							alt="professional headshot of a woman"
							width="475"
							height="auto"
						/>
					</p>
				</div>
				<div class="card-advisor-2-content row">
					<div class="card-advisor-2-inner-content">
						<h2 class="bold uppercase margin-0 text-32 card-advisor-2-name">Megan Stanley</h2>
						<h3 class="text-black text-raleway margin-0 text-18 card-advisor-2-title margin-bottom-20">Last Names A-J</h3>
						<p><span class="fas fa-comments-alt" aria-hidden="true">&nbsp;</span>Message Megan Stanley</p>
						<p><span class="fas fa-phone" aria-hidden="true">&nbsp;</span>(801) 863-6597</p>
					</div>
				</div>
			</div> -->
			<section class="row">
				<div class="col-xs-12 col-md-6">
					<div id="emp-10850361" class="card-advisor-2">
						<div class="card-advisor-2-img">
							<div class="card-advisor-2-img-container">
								<img
									src="https://apps.uvu.edu/idphoto/a0FITWF6Z1Q1VkpzSmZteEd5YktxZz09&amp;resize=350x350"
									alt="Portrait of Swan Saunders"
									width="400"
									height="227"
								/>
							</div>
						</div>
						<div class="card-advisor-2-content row">
							<div class="card-advisor-2-inner-content col-xs-12 col-md-6">
								<h2 class="bold uppercase margin-0 text-32 card-advisor-2-name">Swan Saunders</h2>
								<p class="text-black text-raleway margin-0 text-18 card-advisor-2-title">Academic Advisor I - College of Engineering Technol</p>
								<p class="text-black text-raleway margin-0 text-18 card-advisor-2-title">Academic Advising - CET</p>
								<p class="text-black text-raleway margin-0 text-14">
									<a href="/directory/message/?id=a0FITWF6Z1Q1VkpzSmZteEd5YktxZz09">Message Swan Saunders</a>
								</p>
								<p class="text-raleway card-advisor-2-info">(801) 863-7454</p>
							</div>
							<div class="card-advisor-btns col-xs-12 col-md-6">
								<a class="program-btn program-btn-appt" href="https://appointments.uvu.edu/swansaunders">Schedule Appointment</a
								><a class="program-btn program-btn-dir" href="/directory/employee/?id=a0FITWF6Z1Q1VkpzSmZteEd5YktxZz09">Directory Page</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
