<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
        <link href="../css/buttons.css" rel="stylesheet" />
		<link href="../css/advisor-banner.css" rel="stylesheet" />

		<title>Advisor Banner</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER FOR USE ON CET PAGES -->
		<section class="row">
			<!-- SET SECTION TO FULL WIDTH ONE COLUMN, NO BACKGROUND COLOR -->
			<div class="col-xs-12 col-target region">
				<!-- COPY CODE INTO ONE REGION -->
				<div class="advisor-banner row">
					<div class="contained display-flex align-items-center flex-wrap">
						<div class="col-xs-12 col-sm-6 col-target region">
							<h1 class="bold uppercase text-48 margin-top-0">Have Questions?</h1>
							<p class="text-24 text-rajdhani">
								Login to myUVU to see your advisor or contact our front desk at <a class="bold text-black" href="tel:8018638648">801-863-8648</a> for
								questions regarding which advisor to see.
							</p>
						</div>
						<div class="col-xs-12 col-sm-6 col-target region">
							<!-- INSERT ADVISOR CARD COMPONENT HERE. SEE advisor-card.css FOR MORE. -->
						</div>
					</div>
				</div>
				<!-- END ADVISOR BANNER -->
			</div>
		</section>

		<!-- ALTERNATE VERSION WITH BUTTONS INSTEAD OF ADVISOR CARD -->
		<section class="row">
			<div class="col-xs-12 col-target region">
				<div class="padding-top-40 padding-bottom-40 bg-gray-xlight row">
					<div class="contained display-flex align-items-center flex-wrap">
						<div class="col-xs-12 col-sm-8 col-target region">
							<h1 class="bold uppercase text-48 margin-top-0">Have Questions?</h1>
							<p class="text-24 text-rajdhani">
								Login to myUVU to see your advisor or contact our front desk at <a class="bold text-black" href="tel:8018638648">801-863-8648</a> for
								questions regarding which advisor to see.
							</p>
						</div>
						<div class="col-xs-12 col-sm-4 col-target region display-flex flex-column align-items-center">
							<a class="button-border border-uvu-green wide-button" href="#">Call to Action</a>
							<a class="button-border border-uvu-green wide-button" href="#">Call to Action</a>
							<a class="button-border border-uvu-green wide-button" href="#">Call to Action</a>
						</div>
					</div>
				</div>
			</div>
			<!-- END ADVISOR BANNER -->
		</section>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
