<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME V6 -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/resources.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<!-- CSS FOR THIS COMPONENT -->
		<link type="text/css" href="/css/benefits-banner-left.css" rel="stylesheet" />

		<title>Benefits Banner</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER FOR USE ON CET WEB PAGES -->
		<main id="content-wrap" class="content-wrap">
			<!-- SMALL CENTERED BANNER TITLE, OPTIONAL DESCRIPTION, THREE/FOUR ICONS WITH LABELS, OPTIONAL BUTTON -->
			<section class="padding-top-40 padding-bottom-40 bg-grey">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- COPY INTO HEADER REGION. P ELEMENT IS OPTIONAL -->
							<h2 class="font-weight-400 uppercase text-center">Benefits of <strong>This Degree</strong></h2>
							<p class="text-center text-uvu-green" style="max-width: 800px; margin-right: auto; margin-left: auto">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur amet dolores quasi facere, non vel enim error quis aliquam
								aliquid libero exercitationem veniam doloremque nobis iure iusto. Nemo, totam esse.
							</p>
							<!-- END HEADER -->
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- COPY INTO REGION ONE. USE PRIMARY GREEN ICONS FROM UVU ICON LIBRARY -->
							<div class="row equal-height justify-content-center">
								<div class="col-xs-12 col-sm-6 col-md-4 col-target region display-flex flex-column justify-content-center align-items-center">
									<img src="https://placehold.co/75x75/" alt="coin stack icon" width="auto" height="75" />
									<p class="text-rajdhani text-36 bold margin-top-20 text-uvu-green">Large #</p>
									<p class="margin-bottom-0 text-uvu-green text-center">Average Salary for [Job Title]</p>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-target region display-flex flex-column justify-content-center align-items-center">
									<img src="https://placehold.co/75x75/" alt="cash icon" width="auto" height="75" />
									<p class="text-rajdhani text-36 bold margin-top-20 text-uvu-green">Large #</p>
									<p class="margin-bottom-0 text-uvu-green text-center">Project Job Growth for [Job Title]</p>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-target region display-flex flex-column justify-content-center align-items-center">
									<img src="https://placehold.co/75x75/" alt="piggy bank icon" width="auto" height="75" />
									<p class="text-rajdhani text-36 bold margin-top-20 text-uvu-green">Large #</p>
									<p class="margin-bottom-0 text-uvu-green text-center">Number of Jobs per Year for [Job Title]</p>
								</div>
								<!-- OPTION TO ADD ONE MORE STAT, JUST ADJUST COL CLASSES -->
							</div>
							<!-- END REGION ONE -->
						</div>
						<div class="col-xs-12 col-target region">
							<!-- OPTIONAL CALL TO ACTION IN REGION TWO -->
							<a class="button-border border-uvu-green width-full" href="#">Optional Call to Action</a>
							<!-- END REGION TWO -->
						</div>
					</div>
				</div>
			</section>

			<!-- LEFT-ALIGNED LARGE BANNER TITLE WITH BORDER, THREE/FOUR ICONS WITH LABELS -->
			<section class="padding-top-40 padding-bottom-40 bg-uvu-green">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- COPY INTO HEADER REGION. P ELEMENT IS OPTIONAL -->
							<h2 class="font-weight-400 uppercase text-white text-48">Benefits of <strong>This Degree</strong></h2>
							<hr class="border-2 border-white short-border" />
							<!-- END HEADER -->
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- COPY INTO REGION ONE. USE PRIMARY GREEN ICONS FROM UVU ICON LIBRARY -->
							<div class="row equal-height justify-content-center">
								<div class="col-xs-12 col-sm-6 col-md-3 col-target region display-flex flex-column justify-content-center align-items-center">
									<img src="https://placehold.co/75x75/" alt="coin stack icon" width="auto" height="75" />
									<p class="text-rajdhani text-36 bold margin-top-20 text-white">Large #</p>
									<p class="margin-bottom-0 text-white text-center">Average Salary for [Job Title]</p>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3 col-target region display-flex flex-column justify-content-center align-items-center">
									<img src="https://placehold.co/75x75/" alt="cash icon" width="auto" height="75" />
									<p class="text-rajdhani text-36 bold margin-top-20 text-white">Large #</p>
									<p class="margin-bottom-0 text-white text-center">Project Job Growth for [Job Title]</p>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3 col-target region display-flex flex-column justify-content-center align-items-center">
									<img src="https://placehold.co/75x75/" alt="piggy bank icon" width="auto" height="75" />
									<p class="text-rajdhani text-36 bold margin-top-20 text-white">Large #</p>
									<p class="margin-bottom-0 text-white text-center">Number of Jobs per Year for [Job Title]</p>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3 col-target region display-flex flex-column justify-content-center align-items-center">
									<img src="https://placehold.co/75x75/" alt="piggy bank icon" width="auto" height="75" />
									<p class="text-rajdhani text-36 bold margin-top-20 text-white">Large #</p>
									<p class="margin-bottom-0 text-white text-center">Number of Jobs per Year for [Job Title]</p>
								</div>
								<!-- OPTION TO REMOVE A STAT, JUST ADJUST COL CLASSES -->
							</div>
							<!-- END REGION ONE -->
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
