<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/57846c262b.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/icon-text-button.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<title>Buttons</title>
	</head>
	<body>
        <!-- CODED BY AL BAKER FOR USE ON ALL CET PAGES -->
        <main id="content-wrap" class="content-wrap">
            <!-- EXAMPLES OF ALL RECTANGLE BUTTONS -->
            <section class="padding-top-40 padding-bottom-40">
                <div class="container-fluid">
                    <div class="row equal-height">
                        <!-- FOR LIGHT BACKGROUNDS -->
                        <div class="col-xs-12 col-sm-6 col-md-4 col-target region bg-grey-xlight">
                            <!-- GREY, GREY-XLIGHT, OR WHITE -->
                            <a class="button-border border-uvu-green" href="#">.button-border .border-uvu-green</a>
                            <a class="button-solid" href="#">.button-solid</a>
                            
                            <!-- GREY-XLIGHT OR WHITE -->
                            <a class="button-border border-forest" href="#">.button-border .border-forest</a>
                            <a class="button-border button-solid-forest" href="#">.button-border .button-solid-forest</a>
                        </div>
                        <!-- FOR DARK BACKGROUNDS - PRIMARY GREEN OR BLACK -->
                        <div class="col-xs-12 col-sm-6 col-md-4 col-target region bg-uvu-green">
                            <a class="button-border border-white" href="#">.button-border .border-white</a>
                            <a class="button-border button-solid-white" href="#">.button-border .button-solid-white</a>
                            <a class="button-border border-lime" href="#">.button-border .border-lime</a>
                            <a class="button-border button-solid-lime" href="#">.button-border .button-solid-lime</a>
                        </div>
                        <!-- FOR BLACK BACKGROUNDS ONLY -->
                        <div class="col-xs-12 col-sm-6 col-md-4 col-target region bg-black">
                            <a class="button-border border-fern" href="#">.button-border .border-fern</a>
                            <a class="button-border button-solid-fern" href="#">.button-border .button-solid-fern</a>
                            <a class="button-border border-clover" href="#">.button-border .border-clover</a>
                            <a class="button-border button-solid-clover" href="#">.button-border .button-solid-clover</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- EXAMPLES OF ALL ROUND BUTTONS -->
            <section class="padding-top-40 padding-bottom-40">
                <div class="container-fluid">
                    <div class="row equal-height">
                        <!-- FOR LIGHT BACKGROUNDS - GREY, GREY-XLIGHT, OR WHITE -->
                        <div class="col-xs-12 col-sm-6 col-target region bg-grey-xlight">
                            <a class="button-myuvu" href="#">.button-myuvu</a>
                            <a class="button-myuvu-outline" href="#">.button-myuvu-outline</a>
                        </div>
                        <!-- FOR DARK BACKGROUNDS - PRIMARY GREEN OR BLACK -->
                        <div class="col-xs-12 col-sm-6 col-target region bg-uvu-green">
                            <a class="button-myuvu-white" href="#">.button-myuvu-white</a>
                            <a class="button-myuvu-outline-white" href="#">.button-myuvu-outline-white</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
