<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME V6 -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/icon-text-button.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<!-- CSS FOR THIS COMPONENT -->
		<link type="text/css" rel="stylesheet" href="/css/dates-banner.css" />

		<title>Dates Banner</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER, BEN LINTON, AND CESAR ESPINOZA FOR USE ON ALL CET PAGES -->
		<main id="content-wrap" class="content-wrap">
			<!-- PROGRAM NAME, ONE DATE, AND BUTTON - USING TABLE LAYOUT -->
			<section class="padding-top-40 padding-bottom-40 bg-grey">
				<!-- SET SECTION TO ONE COLUMN, PUT BG COLOR CLASS ON SECTION -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- IN THE FIRST REGION PASTE THIS TABLE -->
							<table class="transform-grid display-flex flex-column align-items-center dates-banner-row" data-gridcolumn-class="padding-10">
								<tbody>
									<tr>
										<td>
											<p class="text-rajdhani text-forest bold uppercase text-24 margin-0 deadlines">[Program Name] <br />Application</p>
										</td>
										<td>
											<div class="padding-top-10 padding-bottom-10 padding-left-30 padding-right-30 border-left border-right">
												<p class="text-rajdhani margin-top-0 margin-bottom-10 text-55 text-uvu-green bold text-center uppercase">Month ##</p>
												<p class="text-rajdhani margin-0 text-24 text-uvu-green bold text-center uppercase">Date Label</p>
											</div>
										</td>
										<td>
											<div class="deadlines-btn display-flex">
												<a class="button-border no-margin button-solid-forest text-white" href="#">Apply Now</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- END TABLE -->
						</div>
					</div>
				</div>
			</section>

			<!-- PROGRAM NAME, TWO DATES, AND BUTTON - TABLE LAYOUT -->
			<section class="padding-top-40 padding-bottom-40 bg-grey">
				<!-- SET SECTION TO ONE COLUMN, PUT BG CLASS ON SECTION -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-target region">
                            <!-- IN THE FIRST REGION PASTE THIS TABLE -->
							<table class="transform-grid display-flex flex-column align-items-center dates-banner-row" data-gridcolumn-class="padding-10">
								<tbody>
									<tr>
										<td>
											<p class="text-rajdhani text-forest bold uppercase text-24 margin-0 deadlines">[Program Name] <br />Application</p>
										</td>
										<td>
											<div class="padding-top-10 padding-bottom-10 padding-left-30 padding-right-30 border-left border-right">
												<p class="text-rajdhani margin-top-0 margin-bottom-10 text-55 text-uvu-green bold text-center">Mon. ##</p>
												<p class="text-rajdhani margin-0 text-24 text-uvu-green bold text-center uppercase">Date Label</p>
											</div>
										</td>
										<td>
											<div class="padding-top-10 padding-bottom-10 padding-left-30 padding-right-30 border-right">
												<p class="text-rajdhani margin-top-0 margin-bottom-10 text-55 text-uvu-green bold text-center">Mon. ##</p>
												<p class="text-rajdhani margin-0 text-24 text-uvu-green bold text-center uppercase">Date Label</p>
											</div>
										</td>
										<td>
											<div class="deadlines-btn display-flex">
												<a class="button-border no-margin button-solid-forest text-white" href="#">Apply Now</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
                            <!-- END TABLE -->
						</div>
					</div>
				</div>
			</section>

			<!-- PROGRAM NAME, THREE DATES, AND BUTTON - FLEX LAYOUT -->
			<section class="padding-top-40 padding-bottom-40 bg-grey">
                <!-- SET SECTION TO ONE COLUMN, PUT BG CLASS ON SECTION -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-target region">
                            <!-- IN THE FIRST REGION PASTE THIS FLEX LAYOUT -->
							<div class="application-banner">
								<div>
									<p class="text-rajdhani text-forest bold uppercase margin-0 deadlines">M.S. in Applied AI Applications</p>
								</div>
								<div class="application-banner-inner border-left border-right">
									<div>
										<p class="text-rajdhani margin-top-0 margin-bottom-10 text-55 text-uvu-green bold text-center">Mon. ##</p>
										<p class="text-rajdhani margin-0 text-20 text-uvu-green bold text-center uppercase">Date Label</p>
									</div>
									<div class="border-left border-right">
										<p class="text-rajdhani margin-top-0 margin-bottom-10 text-55 text-uvu-green bold text-center">Mon. ##</p>
										<p class="text-rajdhani margin-0 text-20 text-uvu-green bold text-center uppercase">Date Label</p>
									</div>
									<div>
										<p class="text-rajdhani margin-top-0 margin-bottom-10 text-55 text-uvu-green bold text-center">Mon. ##</p>
										<p class="text-rajdhani margin-0 text-20 text-uvu-green bold text-center uppercase">Date Label</p>
									</div>
								</div>
								<div><a class="button-border no-margin button-solid-forest text-white" href="#">Apply Now</a></div>
							</div>
                            <!-- END FLEX LAYOUT -->
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
