<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../wrapper.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
		<link href="../css/global/buttons.css" rel="stylesheet" />
		<link href="../css/dates-banner.css" rel="stylesheet" />

		<title>Dates Banner</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER, BEN LINTON, AND CESAR ESPINOZA FOR USE ON CET PAGES -->
		<main id="content-wrap" class="content-wrap">
			<!-- PROGRAM NAME, ONE DATE, AND BUTTON - USING TABLE LAYOUT -->
			<section class="padding-top-40 padding-bottom-40 bg-grey">
				<!-- SET SECTION TO ONE COLUMN, PUT BG COLOR CLASS ON SECTION -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- IN ONE OF THE REGIONS PAST THIS TABLE -->
							<table class="transform-grid display-flex flex-column align-items-center dates-banner-row" data-gridcolumn-class="padding-10">
								<tbody>
									<tr>
										<td>
											<p class="text-rajdhani text-forest bold uppercase text-24 margin-0 deadlines">[Program Name] <br />Application</p>
										</td>
										<td>
											<div class="padding-top-10 padding-bottom-10 padding-left-30 padding-right-30 border-left border-right">
												<p class="text-rajdhani margin-top-0 margin-bottom-10 text-55 text-uvu-green bold text-center uppercase">Month ##</p>
												<p class="text-rajdhani margin-0 text-24 text-uvu-green bold text-center uppercase">Date Label</p>
											</div>
										</td>
										<td>
											<div class="deadlines-btn display-flex">
												<a class="button-border no-margin button-solid-forest text-white" href="#">Apply Now</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- END TABLE -->
						</div>
					</div>
				</div>
			</section>

			<!-- PROGRAM NAME, TWO DATES, AND BUTTON - TABLE LAYOUT -->
			<section class="padding-top-40 padding-bottom-40 bg-grey">
				<!-- SET SECTION TO ONE COLUMN, PUT BG CLASS ON SECTION -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-target region">
                            <!-- IN ONE OF THE REGIONS PASTE THIS TABLE -->
							<table class="transform-grid display-flex flex-column align-items-center dates-banner-row" data-gridcolumn-class="padding-10">
								<tbody>
									<tr>
										<td>
											<p class="text-rajdhani text-forest bold uppercase text-24 margin-0 deadlines">[Program Name] <br />Application</p>
										</td>
										<td>
											<div class="padding-top-10 padding-bottom-10 padding-left-30 padding-right-30 border-left border-right">
												<p class="text-rajdhani margin-top-0 margin-bottom-10 text-55 text-uvu-green bold text-center">Mon. ##</p>
												<p class="text-rajdhani margin-0 text-24 text-uvu-green bold text-center uppercase">Date Label</p>
											</div>
										</td>
										<td>
											<div class="padding-top-10 padding-bottom-10 padding-left-30 padding-right-30 border-right">
												<p class="text-rajdhani margin-top-0 margin-bottom-10 text-55 text-uvu-green bold text-center">Mon. ##</p>
												<p class="text-rajdhani margin-0 text-24 text-uvu-green bold text-center uppercase">Date Label</p>
											</div>
										</td>
										<td>
											<div class="deadlines-btn display-flex">
												<a class="button-border no-margin button-solid-forest text-white" href="#">Apply Now</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
                            <!-- END TABLE -->
						</div>
					</div>
				</div>
			</section>

			<!-- PROGRAM NAME, THREE DATES, AND BUTTON - FLEX LAYOUT -->
			<section class="padding-top-40 padding-bottom-40 bg-grey">
                <!-- SET SECTION TO ONE COLUMN, PUT BG CLASS ON SECTION -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-target region">
                            <!-- IN ONE OF THE REGIONS PASTE THIS FLEX LAYOUT -->
							<div class="application-banner">
								<div>
									<p class="text-rajdhani text-forest bold uppercase margin-0 deadlines">M.S. in Applied AI Applications</p>
								</div>
								<div class="application-banner-inner border-left border-right">
									<div>
										<p class="text-rajdhani margin-top-0 margin-bottom-10 text-55 text-uvu-green bold text-center">Mon. ##</p>
										<p class="text-rajdhani margin-0 text-20 text-uvu-green bold text-center uppercase">Date Label</p>
									</div>
									<div class="border-left border-right">
										<p class="text-rajdhani margin-top-0 margin-bottom-10 text-55 text-uvu-green bold text-center">Mon. ##</p>
										<p class="text-rajdhani margin-0 text-20 text-uvu-green bold text-center uppercase">Date Label</p>
									</div>
									<div>
										<p class="text-rajdhani margin-top-0 margin-bottom-10 text-55 text-uvu-green bold text-center">Mon. ##</p>
										<p class="text-rajdhani margin-0 text-20 text-uvu-green bold text-center uppercase">Date Label</p>
									</div>
								</div>
								<div><a class="button-border no-margin button-solid-forest text-white" href="#">Apply Now</a></div>
							</div>
                            <!-- END FLEX LAYOUT -->
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
