<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/57846c262b.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/icon-text-button.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<!-- CSS FOR THIS COMPONENT -->
		<link type="text/css" rel="stylesheet" href="/css/ethics-card.css" />

		<title>Ethics Cards</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER FOR USE ON ALL CET PAGES -->
		<main id="content-wrap" class="content-wrap">
			<!-- LARGE NUMBER WITH GREEN BACKGROUND, TITLE, SUBTITLE(S), ONE TO TWO LISTS -->
			<section class="padding-top-40 padding-bottom-40">
				<!-- SET SECTION TO ONE COLUMN -->
				<div class="container-fluid">
					<div class="row">
						<!-- PASTE AS MANY CARDS AS NEEDED INTO ONE REGION -->
						<div class="col-xs-12 col-target region">
							<!-- START CARD LIST -->
							<div class="ethics-card">
								<div class="circle bg-forest display-flex align-items-center justify-content-center">
									<p class="text-rajdhani text-96 bold text-white text-center margin-bottom-0">1</p>
								</div>
								<div>
									<h3 class="uppercase bold margin-top-0">Act at All Times With Integrity</h3>
									<p class="bold">Disciplinary Considerations:</p>
									<ul class="margin-bottom-0">
										<li>
											Disciplinary actions will depend upon the nature of the offense and are up to the instructor. Repeated or flagrant violations
											may result in permanent expulsion from the CS programs.
										</li>
										<li>Misuse of equipment may result in action restricting or banning future use of equipment and/or other action.</li>
									</ul>
								</div>
							</div>
							<div class="ethics-card">
								<div class="circle bg-forest display-flex align-items-center justify-content-center">
									<p class="text-rajdhani text-96 bold text-white text-center margin-bottom-0">2</p>
								</div>
								<div>
									<h3 class="uppercase bold margin-top-0">Strive to Increase Competence and the Competence and Prestige of the Profession</h3>
									<p class="bold">Ethical Considerations:</p>
									<ul class="margin-bottom-0">
										<li>One should be willing to aid beginners without doing their work.</li>
										<li>
											One should be willing to extend public knowledge, understanding and appreciation of information processing, and to oppose all
											false or deceptive statements relating to information processing.
										</li>
									</ul>
								</div>
							</div>
							<!-- END CARD LIST -->
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
