<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
		<link href="../css/ethics-card.css" rel="stylesheet" />

		<title>Ethics Cards</title>
	</head>
	<body>
		<main>
			<!-- CODED BY AL BAKER. CURRENTLY ONLY IN USE ON CS ETHICS PAGE. -->
			<section class="row">
				<!-- SET SECTION TO ONE COLUMN. PASTE AS MANY CARDS AS NEEDED INTO ONE REGION. -->
				<div class="col-xs-12 col-target region">
					<!-- START CARD LIST -->
					<div class="ethics-card">
						<div class="circle bg-forest display-flex align-items-center justify-content-center">
							<p class="text-rajdhani text-96 bold text-white text-center margin-bottom-0">1</p>
						</div>
						<div>
							<h3 class="uppercase bold margin-top-0">Act at All Times With Integrity</h3>
							<p class="bold">Disciplinary Considerations:</p>
							<ul class="margin-bottom-0">
								<li>
									Disciplinary actions will depend upon the nature of the offense and are up to the instructor. Repeated or flagrant violations may
									result in permanent expulsion from the CS programs.
								</li>
								<li>Misuse of equipment may result in action restricting or banning future use of equipment and/or other action.</li>
							</ul>
						</div>
					</div>
					<div class="ethics-card">
						<div class="circle bg-forest display-flex align-items-center justify-content-center">
							<p class="text-rajdhani text-96 bold text-white text-center margin-bottom-0">2</p>
						</div>
						<div>
							<h3 class="uppercase bold margin-top-0">Strive to Increase Competence and the Competence and Prestige of the Profession</h3>
							<p class="bold">Ethical Considerations:</p>
							<ul class="margin-bottom-0">
								<li>One should be willing to aid beginners without doing their work.</li>
								<li>
									One should be willing to extend public knowledge, understanding and appreciation of information processing, and to oppose all false
									or deceptive statements relating to information processing.
								</li>
							</ul>
						</div>
					</div>
					<!-- END CARD LIST -->
				</div>
			</section>
		</main>
	</body>
</html>
