<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />

		<title>Event Meeting Card</title>
	</head>
	<body>
		<main>
			<section class="row">
				<div class="col-xs-12 col-target region">
					<!-- TO MY KNOWLEDGE ONLY IN USE ON AED SURVEYING PAGE.
						MADE FOR REGULAR UPDATES TO A TEAMS MEETING LINK. -->
					<div class="box-shadow bg-white padding-20">
						<h3 class="bold">Geospatial Society at UVU hosts Lecture Series</h3>
						<p><strong>When:</strong> Thursday, April 18, 2024 from 7:00 to 8:30pm</p>
						<p><strong>Where:</strong> Face to Face CS701</p>
						<p><strong>Guest Speaker:</strong> Daniel Colling and NGA team</p>
						<p>
							<strong>Topic:</strong> The <a href="https://www.nga.mil/careers/Student_Opportunities.html" target="_blank" rel="noopener">National Geospatial-Intelligence Agency</a>, Office of Geomatics, Geodetic Survey Division
						</p>
						<p>Pizza and Soda will be available to dues paying members.</p>
						<p>In the case that you are unable to attend the meeting in-person, use the following links to join online:</p>
						<hr />
						<div class="padding-left-40 padding-right-40">
							<p><strong>Microsoft Teams </strong><a href="https://aka.ms/JoinTeamsMeeting?omkt=en-US">Need help?</a></p>
							<p>
								<a href="https://teams.microsoft.com/l/meetup-join/19%3atFP5GSLTgCM-lFS_PGRdqctx5l9HihhSwZAvelQfcp41%40thread.tacv2/1712081180363?context=%7b%22Tid%22%3a%221ea2b65f-2f5e-440e-b025-dfdfafd8e097%22%2c%22Oid%22%3a%22e1de1b53-6700-4abd-8101-fa7356fe436b%22%7d">
									<strong>Join the meeting now</strong>
								</a>
							</p>
							<p>Meeting ID: 211 493 756 973</p>
							<p>Passcode: WSXV8a</p>
							<hr />
							<p><strong>For organizers:</strong></p>
							<p class="margin-bottom-0">
								<a href="https://teams.microsoft.com/meetingOptions/?organizerId=e1de1b53-6700-4abd-8101-fa7356fe436b&amp;tenantId=1ea2b65f-2f5e-440e-b025-dfdfafd8e097&amp;threadId=19_tFP5GSLTgCM-lFS_PGRdqctx5l9HihhSwZAvelQfcp41@thread.tacv2&amp;messageId=1712081180363&amp;language=en-US">
									Meeting options
								</a>
							</p>
							<p><a href="https://dialin.teams.microsoft.com/usp/pstnconferencing">Reset dial-in PIN</a></p>
						</div>
					</div>
					<!-- END CARD -->
				</div>
			</section>
		</main>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
