<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/57846c262b.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/icon-text-button.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<title>Faculty Card</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER FOR USE ON ALL CET PAGES -->
		<main id="content-wrap" class="content-wrap">
			<!-- VERSION USED ON PROGRAM PAGES, FOLLOWING A STUDENT QUOTE. SEE student-quote.html AND student-quote.css -->
			<section class="padding-top-40 padding-bottom-40">
				<!-- SET SECTION TO ONE COLUMN AND PUT CARD INTO ONE REGION -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- COPY INTO ONE REGION. .margin-top-30 ONLY WHEN USED BELOW STUDENT QUOTE -->
							<div class="faculty-card margin-top-30">
								<div class="faculty-img">
									<p><img src="https://placehold.co/300x300" alt="placeholder" /></p>
								</div>
								<div>
									<p class="text-rajdhani text-black margin-top-0 uppercase text-36 font-weight-600">"This is the best program for any student on campus."</p>
									<blockquote>
										"Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
										fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus."
									</blockquote>
									<div class="name-button">
										<p class="text-24 font-weight-600 text-clover italic">Faculty Name, Position</p>
										<a class="button-myuvu" href="#">View Faculty &amp; Staff</a>
									</div>
								</div>
							</div>
							<!-- END FACULTY CARD -->
						</div>
					</div>
				</div>
			</section>

			<!-- VERSION USED ON DEPT LANDING PAGES WITH NO BUTTON IN CARD AND FULL-WIDTH BUTTON IN FOLLOWING REGION -->
			<section class="padding-top-40 padding-bottom-40">
				<!-- SET SECTION TO ONE COLUMN AND PUT CARD INTO ONE REGION -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- COPY INTO FIRST REGION -->
							<div class="faculty-card margin-top-30">
								<div class="faculty-img">
									<p><img src="https://placehold.co/300x300" alt="placeholder" /></p>
								</div>
								<div>
									<p class="text-rajdhani text-black margin-top-0 uppercase text-36 font-weight-600">"This is the best program for any student on campus."</p>
									<blockquote>
										"Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
										fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus."
									</blockquote>
									<p class="text-24 font-weight-600 text-clover italic">Faculty Name, Position</p>
								</div>
							</div>
							<!-- END FACULTY CARD -->
						</div>
						<div class="col-xs-12 col-target region">
							<!-- USE FULL-WIDTH GREEN BORDER BUTTON IN SECOND REGION TO LINK TO FACULTY PAGE -->
							<a class="button-border border-uvu-green width-full" href="#">View All Faculty & Staff</a>
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
