<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME V6 -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/icon-text-button.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<!-- CSS FOR THIS COMPONENT -->
		<link type="text/css" rel="stylesheet" href="/css/half-banner.css" />

		<title>Half Image Banner</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER FOR USE ON ALL CET PAGES. THIS ELEMENT IS CURRENTLY UNDER REVISION -->
		<main id="content-wrap" class="content-wrap">
			<!-- BANNER TITLE, DESCRIPTION, AND BUTTON WITH IMAGE ON OTHER HALF -->
			<section class="padding-top-40 padding-bottom-40">
				<!-- REMOVE CLASS .container-fluid TO MAKE SECTION FULL WIDTH -->
				<div>
					<div class="row">
						<!-- SET SECTION TO ONE COLUMN AND COPY INTO ONE REGION -->
						<div class="bg-uvu-green half-banner">
							<div class="banner-content">
								<h2 class="text-white text-36">Banner Title</h2>
								<p class="text-white">
									Lorem ipsum dolor sit amet consectetur. Elementum sapien ac id enim purus egestas a ut sed. Ultrices vitae lectus ut cras ornare. Eu
									arcu elit cras aliquam et amet. Orci purus volutpat hac et varius. Elementum sapien ac id enim purus egestas a ut sed. Ultrices
									vitae lectus ut cras ornare. Eu arcu elit cras aliquam et amet. Orci purus volutpat hac et varius.
								</p>
								<a class="button-border border-white text-white" href="#" target="_blank" rel="noopener">Call to Action</a>
							</div>
							<div class="banner-img">
								<img src="https://placehold.co/1000x500" alt="placeholder" width="1000" height="500" />
							</div>
						</div>
						<!-- END BANNER -->
					</div>
				</div>
			</section>

			<!-- LARGE BANNER TITLE, SHORT DESCRIPTION, AND BUTTON WITH IMAGE ON OTHER HALF AND APFY SHAPES -->
			<section class="padding-top-40 padding-bottom-40">
				<!-- REMOVE CLASS .container-fluid TO MAKE SECTION FULL WIDTH -->
				<div>
					<div class="row">
						<!-- SET SECTION TO ONE COLUMN AND COPY INTO ONE REGION -->
						<div class="bg-uvu-green shapes-banner">
							<div class="banner-content">
								<h2 class="text-white text-64 uppercase bold"><span class="font-weight-400">Banner</span> Title</h2>
								<p class="text-white">
									Lorem ipsum dolor sit amet consectetur. Elementum sapien ac id enim purus egestas a ut sed. Ultrices vitae lectus ut cras ornare. Eu
									arcu elit cras aliquam et amet. Orci purus volutpat hac et varius.
								</p>
								<a class="button-border border-white text-white" href="#" target="_blank" rel="noopener">Call to Action</a>
							</div>
							<div class="banner-img">
								<img src="https://placehold.co/1000x500" alt="placeholder" width="1000" height="500" />
							</div>
						</div>
						<!-- END BANNER -->
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
