<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
		<link href="../css/half-banner.css" rel="stylesheet" />
		<link href="../css/buttons.css" rel="stylesheet" />

		<title>Half Image Banner</title>
	</head>
	<body>
		<section class="bg-uvu-green">
			<div class="bg-uvu-green half-banner">
				<div class="banner-content">
					<h1 class="text-white">Looking for a Bachelor's Degree?</h1>
					<p class="text-white">
						The A.A.S. in Culinary Arts is the perfect stepping stone for a B.S. in Hospitality Management through the Woodbury School of Business.
						Students graduate with the management and culinary skills to open their own food service operations or compete for executive chef
						positions.
					</p>
					<p>
						<a
							class="button-border border-white text-white"
							href="https://www.uvu.edu/catalog/current/departments/organizational-leadership/hospitality-management-bs/"
							target="_blank"
							rel="noopener"
							>View Course Catalog</a
						>
					</p>
				</div>
				<div class="banner-img">
					<img title="B.S. Hospitality Management" src="../images/bachelors_banner_image.jpg" alt="chef spooning food onto a plate" width="1000" height="300" />
				</div>
			</div>
		</section>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
