<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME V6 -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/resources.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<title>Section Headers</title>
	</head>
	<body>
		<!-- INSPIRED BY SECTION HEADERS ON OLD UVU PAGES -->
		<main id="content-wrap" class="content-wrap">
			<!-- SECTION HEADERS - TITLE, ICON, AND HORIZONTAL RULE -->
			<section class="padding-top-40 padding-bottom-40">
				<!-- SET SECTION TO ONE COLUMN -->
				<div class="container-fluid">
					<div class="row">
						<!-- PASTE SECTION HEADER CODE INTO HEADER REGION -->
						<div class="col-xs-12 col-target region">
							<!-- PROGRAMS -->
							<h2 class="text-center uppercase font-weight-600 text-uvu-green text-30">Programs</h2>
							<hr class="section-divider-icon fal fa-books fa-3x" aria-hidden="true" />
							<!-- END PROGRAMS -->
						</div>
						<div class="col-xs-12 col-target region">
							<!-- FACULTY SPOTLIGHT -->
							<h2 class="text-center uppercase font-weight-600 text-uvu-green text-30">Faculty Spotlight</h2>
							<hr class="section-divider-icon fal fa-users fa-3x" aria-hidden="true" />
							<!-- END FACULTY SPOTLIGHT -->
						</div>
						<div class="col-xs-12 col-target region">
							<!-- SALARIES & CAREER OUTLOOK -->
							<h2 class="text-center uppercase font-weight-600 text-uvu-green text-30">Salaries &amp; Job Outlook</h2>
							<hr class="section-divider-icon fal fa-money-bill fa-3x" aria-hidden="true" />
							<!-- END SALARIES & CAREER OUTLOOK -->
						</div>
						<div class="col-xs-12 col-target region">
							<!-- DEPARTMENT FACTS -->
							<h2 class="text-center uppercase font-weight-600 text-uvu-green text-30">Department Facts</h2>
							<hr class="section-divider-icon fal fa-chalkboard-teacher fa-3x" aria-hidden="true" />
							<!-- END DEPARTMENT FACTS -->
						</div>
						<div class="col-xs-12 col-target region">
							<!-- AWARDS & SHOWCASE -->
							<h2 class="text-center uppercase font-weight-600 text-uvu-green text-30">Awards &amp; Showcase</h2>
							<hr class="section-divider-icon fal fa-award fa-3x" aria-hidden="true" />
							<!-- END AWARDS & SHOWCASE -->
						</div>
						<div class="col-xs-12 col-target region">
							<!-- EVENTS -->
							<h2 class="text-center uppercase font-weight-600 text-uvu-green text-30">Events</h2>
							<hr class="section-divider-icon fal fa-calendar-alt fa-3x" aria-hidden="true" />
							<!-- END EVENTS -->
						</div>
						<div class="col-xs-12 col-target region">
							<!-- NEWS -->
							<!-- DIFFERENT CLASSES TO FIT IN A FULL-WIDTH SECTION -->
							<h2 class="text-center uppercase font-weight-600 text-uvu-green text-30">News</h2>
							<hr class="section-divider-icon fal fa-newspaper fa-3x"	style="max-width: 1010px; margin-right: auto; margin-left: auto" aria-hidden="true"	/>
							<!-- END NEWS -->
						</div>
						<div class="col-xs-12 col-target region">
							<!-- RESOURCES -->
							<h2 class="text-center uppercase font-weight-600 text-uvu-green text-30">Student Resources</h2>
							<hr class="section-divider-icon fal fa-paperclip" aria-hidden="true" />
							<!-- END RESOURCES -->
						</div>
						<div class="col-xs-12 col-target region">
							<!-- TESTIMONIALS -->
							<h2 class="text-center uppercase font-weight-600 text-uvu-green text-30">Testimonials</h2>
							<hr class="section-divider-icon fal fa-user-alt fa-3x" aria-hidden="true" />
							<!-- END TESTIMONIALS -->
						</div>
						<div class="col-xs-12 col-target region">
							<!-- CONFERENCES & TRAVEL -->
							<h2 class="text-center uppercase font-weight-600 text-uvu-green text-30">Conferences &amp; Travel</h2>
							<hr class="section-divider-icon fal fa-map-marked-alt fa-3x" aria-hidden="true" />
							<!-- END CONFERENCES & TRAVEL -->
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
