<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
		<!-- elements -->
		<link rel="stylesheet" href="/_common/css/elements/elements.css" type="text/css" />
		<link href="../css/homepage-card.css" rel="stylesheet" />
        <link href="../css/buttons.css" rel="stylesheet" />

		<title>Home Page Card</title>
	</head>
	<body>
		<main>
            <section class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <!-- DON'T COPY THIS CODE, IT'S JUST FOR REFERENCE. 
                        START WITH UVU COMPONENT CARD:PICTURE CARD 2 AND USE THE CSS IN THE homepage-card.css FILE -->
					<!-- LINK CARDS TO PROGRAM PAGES -->
                    <div class="homepage-card">
                        <div class="card-picture card-picture-2 clickable" data-uvu-component="Card: Picture Card">
                            <h2 class="card-picture-title">Card Title</h2>
                            <img
                                class="card-picture-img"
                                src="https://placehold.co/370x194/"
                                alt="placeholder"
                            />
                            <div class="card-picture-content"></div>
                            <a class="card-picture-button" href="#" target="_self" title="Student Life">Link Text</a>
                        </div>
                    </div> <!-- END CARD -->
                </div> <!-- END REGION FOR FOUR COLUMN SECTION LAYOUT -->
            </section>
			
		</main>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
