<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
		<link href="../css/icon-list.css" rel="stylesheet" />

		<title>Icon List</title>
	</head>
	<body>
		<div class="icon-list">
			<i class="fa-solid fa-briefcase" aria-hidden="true"></i>
			<div>
				<h2 class="text-24 margin-top-0">Business &amp; Marketing Education</h2>
				<p>
					The Business/Marketing Education curriculum prepares students to teach business, marketing, and information technology in secondary schools.
				</p>
			</div>
			<i class="fa-solid fa-shield" aria-hidden="true"></i>
			<div>
				<h2 class="text-24 margin-top-0">Cybersecurity</h2>
				<p>
					Designed to help students learn to administer and maintain secure information systems, identify vulnerabilities, defeat cyber threats, and
					manage associated risks.
				</p>
			</div>
			<i class="fa-solid fa-server" aria-hidden="true"></i>
			<div>
				<h2 class="text-24 margin-top-0">Information Management</h2>
				<p>
					Information management is an emerging field that is concerned with: The infrastructure used to collect, manage, preserve, store and deliver
					information.
				</p>
			</div>
			<i class="fa-solid fa-microchip" aria-hidden="true"></i>
			<div>
				<h2 class="text-24 margin-top-0">Information Systems</h2>
				<p>
					IS graduates receive a broad education in business and technology. IS careers include information architects, consultants, developers,
					auditors, analysts, and programmers.
				</p>
			</div>
			<i class="fa-solid fa-computer" aria-hidden="true"></i>
			<div>
				<h2 class="text-24 margin-top-0">Information Technology</h2>
				<p>
					IT majors focus on how information and computing systems support business, research, and communications needs. Instruction ranges from the
					basics of computer hardware to the complex relationship between humans and computers.
				</p>
			</div>
		</div>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
