<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
		<link href="../css/buttons.css" rel="stylesheet" />

		<title>Icon Button Card</title>
	</head>
	<body>
		<main>
            <!-- IN USE IN DGM AND AED PAGES. CODED BY AL BAKER-->
            <!-- SET SECTION TO THREE OR FOUR EQUAL COLUMNS -->
			<section class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-target region">
                    <!-- CAN BE ANY BACKGROUND COLOR, MAKE SURE THE TEXT CONTRASTS APPROPRIATELY -->
					<div class="bg-uvu-green display-flex flex-column align-items-center padding-30 border-radius-5 box-shadow">
						<i class="fal fa-gamepad-alt text-white text-36" aria-hidden="true"></i>
						<h4 class="text-white text-center bold uppercase">Card Title</h4>
						<p><a class="button-myuvu-white" href="#">Call to Action</a></p>
					</div>
                    <!-- END CARD -->
				</div>
			</section>
			<!-- OTHER COLOR OPTIONS -->
			<section class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-target region">
					<div class="bg-forest display-flex flex-column align-items-center padding-30 border-radius-5 box-shadow">
						<i class="fal fa-gamepad-alt text-white text-36" aria-hidden="true"></i>
						<h4 class="text-white text-center bold uppercase">Card Title</h4>
						<p><a class="button-myuvu-white" href="#">Call to Action</a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-target region">
					<div class="bg-clover display-flex flex-column align-items-center padding-30 border-radius-5 box-shadow">
						<i class="fal fa-gamepad-alt text-white text-36" aria-hidden="true"></i>
						<h4 class="text-white text-center bold uppercase">Card Title</h4>
						<p><a class="button-myuvu-white" href="#">Call to Action</a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-target region">
					<div class="bg-lime display-flex flex-column align-items-center padding-30 border-radius-5 box-shadow">
						<i class="fal fa-gamepad-alt text-uvu-green text-36" aria-hidden="true"></i>
						<h4 class="text-uvu-green text-center bold uppercase">Card Title</h4>
						<p><a class="button-myuvu-white" href="#">Call to Action</a></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-target region">
					<div class="bg-gray display-flex flex-column align-items-center padding-30 border-radius-5 box-shadow">
						<i class="fal fa-gamepad-alt text-uvu-green text-36" aria-hidden="true"></i>
						<h4 class="text-uvu-green text-center bold uppercase">Card Title</h4>
						<p><a class="button-myuvu-white" href="#">Call to Action</a></p>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
