<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
		<link href="../css/icon-grid.css" rel="stylesheet" />

		<title>Icon Grid</title>
	</head>
	<body>
		<main>
			<!-- CODED BY AL BAKER -->
			<!-- CURRENTLY ONLY IN USE ON CYBERSECURITY PROGRAM PAGE, IS&T DEPARTMENT -->
			<section class="row">
				<!-- SET SECTION TO ONE COLUMN -->
				<div class="col-xs-12 col-target region">
					<!-- INSERT GRID INTO ONE REGION -->
					<div class="icon-grid">
						<article>
							<p class="grid-item"><i class="fal fa-user"></i><br />Title</p>
						</article>
						<article>
							<p class="grid-item"><i class="fal fa-user"></i><br />Title</p>
						</article>
						<article>
							<p class="grid-item"><i class="fal fa-user"></i><br />Title</p>
						</article>
						<article>
							<p class="grid-item"><i class="fal fa-user"></i><br />Title</p>
						</article>
						<article>
							<p class="grid-item"><i class="fal fa-user"></i><br />Title</p>
						</article>
					</div>
					<!-- END GRID -->
				</div>
			</section>
		</main>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
