<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME V6 -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/resources.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<!-- CSS FOR THIS COMPONENT -->
		<link href="../css/icon-grid.css" rel="stylesheet" />

		<title>Icon Grid</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER FOR USE ON CET PAGES -->
		<main id="content-wrap" class="content-wrap">
			<!-- FOUR OR FIVE ICONS WITH LABELS -->
			<section class="padding-top-40 padding-bottom-40">
				<!-- SET SECTION TO ONE COLUMN -->
				<div class="container-fluid">
					<!-- NOTE THAT NONE OF THESE ICONS WILL SHOW ON THE DEMO AS UVU USES FONTAWESOME V5 AND MY PERSONAL ACCOUNT IS V6 -->
					<div class="row">
						<!-- PASTE REPONSIVE LAYOUT INTO ONE REGION -->
						<div class="col-xs-12 col-target region">
							<div class="display-flex flex-row flex-wrap align-items-center justify-content-center">
								<div class="display-flex flex-column align-items-center w-fifth padding-15">
									<span class="fal fa-moon-stars fa-3x text-uvu-green" aria-hidden="true">&nbsp;</span>
									<p class="text-rajdhani font-weight-500 text-uvu-green text-20 text-center padding-top-10">Label</p>
								</div>
								<div class="display-flex flex-column align-items-center w-fifth padding-15">
									<span class="fal fa-globe fa-3x text-uvu-green" aria-hidden="true">&nbsp;</span>
									<p class="text-rajdhani font-weight-500 text-uvu-green text-20 text-center padding-top-10">Label</p>
								</div>
								<div class="display-flex flex-column align-items-center w-fifth padding-15">
									<span class="fal fa-mouse fa-3x text-uvu-green" aria-hidden="true">&nbsp;</span>
									<p class="text-rajdhani font-weight-500 text-uvu-green text-20 text-center padding-top-10">Label</p>
								</div>
								<div class="display-flex flex-column align-items-center w-fifth padding-15">
									<span class="fal fa-map-marker-alt fa-3x text-uvu-green" aria-hidden="true">&nbsp;</span>
									<p class="text-rajdhani font-weight-500 text-uvu-green text-20 text-center padding-top-10">Label</p>
								</div>
								<div class="display-flex flex-column align-items-center w-fifth padding-15">
									<span class="fal fa-people-arrows fa-3x text-uvu-green" aria-hidden="true">&nbsp;</span>
									<p class="text-rajdhani font-weight-500 text-uvu-green text-20 text-center padding-top-10">Label</p>
								</div>
							</div>
						</div>
						<!-- END LAYOUT -->
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
