<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/57846c262b.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/icon-text-button.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<title>Resources Section</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER FOR USE ON ALL CET PAGES -->
		<main id="content-wrap" class="content-wrap">
			<section class="padding-top-40 padding-bottom-40">
				<!-- SET SECTION TO TWO COLUMN -->
				<div class="container-fluid">
					<div class="row equal-height">
						<div class="col-xs-12 col-sm-6 col-target region">
							<!-- COPY INTO LEFT COLUMN OF LAYOUT -->
							<div class="resources-grid">
								<!-- START SINGLE RESOURCE -->
								<i class="fal fa-users" aria-hidden="true"></i>
								<div>
									<h3 class="uppercase text-black font-weight-600 text-28 margin-top-0">[DEPT ACRONYM] Internships</h3>
									<p>Visit the CET internships page for [DEPARTMENT NAME] or talk to the CET Internship Advisor Stacey Brown.</p>
									<p><a class="button-myuvu" href="#" target="_blank" rel="noopener">View [DEPT ACRONYM] Internships</a></p>
								</div>
								<!-- END SINGLE RESOURCE -->

								<!-- BEST WITH TWO TO FOUR RESOURCES -->
								<i class="fal fa-graduation-cap" aria-hidden="true"></i>
								<div>
									<h3 class="uppercase text-black font-weight-600 text-28 margin-top-0">[DEPT ACRONYM] Student Resources</h3>
									<p>From tutoring to scholarships and everything in between, you can find it all on the [DEPARTMENT NAME] Student Resources page.</p>
									<p><a class="button-myuvu" href="#">View [DEPT ACRONYM] Resources</a></p>
								</div>

								<i class="fal fa-users-class" aria-hidden="true"></i>
								<div>
									<h3 class="uppercase text-black font-weight-600 text-28 margin-top-0">Resource Title</h3>
									<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
									<p><a class="button-myuvu" href="#">View [RESOURCE NAME]</a></p>
								</div>
							</div>
							<!-- END RESOURCES SECTION -->
						</div>
						<div class="col-xs-12 col-sm-6 col-target region">
							<!-- INSERT ONE TO THREE ADVISOR CARDS HERE. SEE advisor-card.css -->
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
