<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/57846c262b.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/icon-text-button.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<!-- CSS FOR THIS COMPONENT -->
        <link type="text/css" rel="stylesheet" href="/css/icon-label-banner.css" />
        
		<title>Icon + Label Banner</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER FOR USE ON ALL CET PAGES -->
		<main id="content-wrap" class="content-wrap">
			<!-- ICON AND LABEL BANNER, CLICKABLE VERSION -->
			<section class="padding-top-40 padding-bottom-40 bg-uvu-green">
				<!-- SET SECTION TO ONE COLUMN, ADD BG COLOR CLASS TO SECTION -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-target region">
                            <!-- COPY INTO ONE REGION. CURRENTLY FOR 6 PROGRAMS, BUT ADJUST COL CLASSES FOR FEWER -->
							<div class="row display-flex align-items-center flex-wrap icon-links">
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-target region display-flex flex-column align-items-center clickable">
									<span class="fal fa-car-battery fa-5x text-white" aria-hidden="true"></span>
                                    <a class="text-center text-white text-rajdhani text-22 margin-top-10 margin-bottom-10 font-weight-500" href="#">
                                        Label
                                    </a>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-target region display-flex flex-column align-items-center clickable">
									<span class="fal fa-car fa-5x text-white" aria-hidden="true"></span>
                                    <a class="text-center text-white text-rajdhani text-22 margin-top-10 margin-bottom-10 font-weight-500" href="#">
                                        Label
                                    </a>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-target region display-flex flex-column align-items-center clickable">
									<span class="fal fa-car-mechanic fa-5x text-white" aria-hidden="true"></span>
                                    <a class="text-center text-white text-rajdhani text-22 margin-top-10 margin-bottom-10 font-weight-500" href="#">
                                        Label
                                    </a>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-target region display-flex flex-column align-items-center clickable">
									<span class="fal fa-truck-container fa-5x text-white" aria-hidden="true"></span>
                                    <a class="text-center text-white text-rajdhani text-22 margin-top-10 margin-bottom-10 font-weight-500" href="#">
                                        Label
                                    </a>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-target region display-flex flex-column align-items-center clickable">
									<span class="fal fa-motorcycle fa-5x text-white" aria-hidden="true"></span>
                                    <a class="text-center text-white text-rajdhani text-22 margin-top-10 margin-bottom-10 font-weight-500" href="#">
                                        Label
                                    </a>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-target region display-flex flex-column align-items-center clickable">
									<span class="fal fa-cars fa-5x text-white" aria-hidden="true"></span>
                                    <a class="text-center text-white text-rajdhani text-22 margin-top-10 margin-bottom-10 font-weight-500" href="#">
                                        Label
                                    </a>
								</div>
							</div>
                            <!-- END REGION -->
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
