<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/57846c262b.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/icon-text-button.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<title>Links List</title>
	</head>
	<body>
		<!-- MODIFIED BY AL BAKER FROM THE OLD UVU ENGINEERING PROGRAM PAGES FOR USE ON ALL CET PAGES -->
		<main id="content-wrap" class="content-wrap">
			<!-- STYLED UNORDERED LIST OF LINKS -->
			<section class="padding-top-40 padding-bottom-40">
				<!-- SET SECTION TO TWO COLUMN BIG LEFT -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-target region">
							<!-- MAIN SECTION CONTENT, USUALLY PROGRAM DESCRIPTION AND LARGE DEGREE CARD -->
							<!-- SEE degree-cards.html AND degree-cards.css -->
						</div>
						<div class="col-xs-12 col-sm-4 col-target region">
							<!-- COPY INTO SMALL RIGHT REGION -->
							<!-- ALL LINKS IN THIS EXAMPLE ARE JUST SUGGESTIONS. USE WHAT IS APPROPRIATE FOR YOUR PROGRAM -->
							<h2 class="text-black text-24 font-weight-400">Helpful Links</h2>
							<ul class="links-list links-list-1">
								<li><a class="pdf" href="#" target="_blank" rel="noopener">Program Information</a></li>
								<li><a class="external" href="#" target="_blank" rel="noopener">UVU Professional Licensure</a></li>
								<li><a href="#">Program Learning Outcomes</a></li>
								<li><a href="#">ABET Program Educational Objectives</a></li>
							</ul>
							<ul class="links-list links-list-2">
								<li><a class="pdf" href="#" target="_blank" rel="noopener">Portfolio Requirements</a></li>
								<li><a href="#">Portfolio Application</a></li>
								<li><a href="#">Capstone Projects</a></li>
							</ul>
							<ul class="links-list links-list-3">
								<li class="accordion accordion-unstyled list-dropdown">
									<a>Advising Sheets</a><span class="fa fa-plus-square-o" aria-hidden="true"></span>
								</li>
								<ul class="links-list links-list-3">
									<li>
										<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Degree/Emphasis Name B.S.<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Degree/Emphasis Name B.S.<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Degree/Emphasis Name B.S.<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Associate Name A.S.<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Associate Name A.A.S.<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Minor Name<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Minor Name<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Certificate Name<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Certificate Name<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Certificate Name<br />(2023-2024)</a>
									</li>
								</ul>
								<li class="accordion accordion-unstyled list-dropdown">
									<a>Degree Flow Charts</a><span class="fa fa-plus-square-o" aria-hidden="true"></span>
								</li>
								<ul class="links-list links-list-3">
									<li>
										<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Degree/Emphasis Name B.S.<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Degree/Emphasis Name B.S.<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Degree/Emphasis Name B.S.<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Associate Name A.S.<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Associate Name A.A.S.<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Minor Name<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Minor Name<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Certificate Name<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Certificate Name<br />(2023-2024)</a>
									</li>
									<li>
										<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Certificate Name<br />(2023-2024)</a>
									</li>
								</ul>
							</ul>
							<!-- END OF LINKED LISTS -->
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
