<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
		<link href="../css/links-list.css" rel="stylesheet" />

		<title>Links List</title>
	</head>
	<body>
		<main>
			<!-- SET SECTION TO TWO COLUMN, BIG LEFT -->
			<section class="row">
				<!-- ORIGINALLY FROM OLD ENGINEERING PROGRAM PAGES -->
				<div class="col-xs-12 col-sm-6 col-md-4">
					<!-- INSERT INTO SMALL COLUMN -->
					<h2 class="text-black text-24 font-weight-400">Helpful Links</h2>
					<ul class="links-list links-list-1">
						<li><a class="pdf" href="#" target="_blank" rel="noopener">Program Information</a></li>
						<li><a class="external" href="#" target="_blank" rel="noopener">UVU Professional Licensure</a></li>
						<li><a href="#">Program Learning Outcomes</a></li>
						<li><a href="#">ABET Program Learning Outcomes</a></li>
					</ul>
					<ul class="links-list links-list-2">
						<li><a class="pdf" href="#" target="_blank" rel="noopener">Portfolio Requirements</a></li>
						<li><a href="#">Portfolio Application</a></li>
					</ul>
					<!-- THE LIST WITH THE PDFS SHOULD GO LAST.
						IF THERE ARE NO PORTFOLIO PDFS/LINKS FOR THE PROGRAM, DELETE SECOND LIST AND CHANGE THE CLASS NAMES IN THIS TO .links-list-2 -->
					<ul class="links-list links-list-3">
						<li class="accordion accordion-unstyled list-dropdown">
							<a>Advising Sheets</a><span class="fa fa-plus-square-o" aria-hidden="true"></span>
						</li>
						<ul class="links-list links-list-3">
							<li>
								<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Degree/Emphasis Name B.S.<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Degree/Emphasis Name B.S.<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Degree/Emphasis Name B.S.<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Associate Name A.S.<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Associate Name A.A.S.<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Minor Name<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Minor Name<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Certificate Name<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Certificate Name<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Advising PDF" href="#" target="_blank" rel="noopener">Certificate Name<br />(2023-2024)</a>
							</li>
						</ul>
						<li class="accordion accordion-unstyled list-dropdown">
							<a>Degree Flow Charts</a><span class="fa fa-plus-square-o" aria-hidden="true"></span>
						</li>
						<ul class="links-list links-list-3">
							<li>
								<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Degree/Emphasis Name B.S.<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Degree/Emphasis Name B.S.<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Degree/Emphasis Name B.S.<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Associate Name A.S.<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Associate Name A.A.S.<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Minor Name<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Minor Name<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Certificate Name<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Certificate Name<br />(2023-2024)</a>
							</li>
							<li>
								<a class="pdf" title="2023-24 Flowchart PDF" href="#" target="_blank" rel="noopener">Certificate Name<br />(2023-2024)</a>
							</li>
						</ul>
					</ul> <!-- END OF ACCORDION LIST -->
				</div>
			</section>
		</main>
	</body>
</html>
