<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/57846c262b.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/icon-text-button.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<!-- CSS FOR THIS COMPONENT -->
		<link type="text/css" rel="stylesheet" href="/css/program-resources.css" />

		<title>Program Page Resources Section</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER FOR USE ON ALL CET PAGES. THIS ELEMENT IS CURRENTLY UNDER REVISION -->
		<main id="content-wrap" class="content-wrap">
			<!-- BOTH COLUMNS ARE BUTTONS -->
			<section class="padding-top-40 padding-bottom-40 border-top-2 border-uvu-green">
				<!-- SET SECTION TO TWO COLUMN, PUT BORDER CLASSES ON SECTION -->
				<div class="container-fluid">
					<div class="row equal-height">
						<div class="col-xs-12 col-sm-6 col-target region">
							<!-- COPY CLUBS LINKS INTO FIRST REGION -->
							<div class="display-flex flex-column align-items-center">
								<h3 class="bold text-center">Join a [PROGRAM NAME HERE] Club</h3>
								<a class="button-border border-uvu-green" href="#">Club</a>
								<a class="button-border border-uvu-green" href="#">Club</a>
								<a class="button-border border-uvu-green" href="#">Club</a>
							</div>
							<!-- END CLUBS LINKS -->
						</div>
						<div class="col-xs-12 col-sm-6 col-target region">
							<!-- COPY RESOURCES LINKS INTO SECOND REGION -->
							<div class="display-flex flex-column align-items-center">
								<h3 class="bold text-center">Resources for [PROGRAM NAME HERE] Students</h3>
								<a class="button-border border-uvu-green" href="#">Resource</a>
								<a class="button-border border-uvu-green" href="#">Resource</a>
								<a class="button-border border-uvu-green" href="#">Resource</a>
							</div>
							<!-- END RESOURCES LINKS -->
						</div>
					</div>
				</div>
			</section>
	
			<!-- ALTERNATE VERSION WITH TWO COLUMNS OF BUTTONS IN EACH REGION -->
			<section class="padding-top-40 padding-bottom-40 border-top-2 border-uvu-green">
				<!-- SET SECTION TO TWO COLUMN, PUT BORDER CLASSES ON SECTION -->
				<div class="container-fluid">
					<div class="row equal-height">
						<div class="col-xs-12 col-sm-6 col-target region">
							<!-- COPY CLUBS LINKS INTO FIRST REGION -->
							<div class="display-flex flex-column align-items-center">
								<h3 class="bold text-center">Join a [PROGRAM NAME HERE] Club</h3>
								<div class="program-grid">
									<a class="button-border border-uvu-green" href="#">Club</a>
									<a class="button-border border-uvu-green" href="#">Club</a>
									<a class="button-border border-uvu-green" href="#">Club</a>
									<a class="button-border border-uvu-green" href="#">Club</a>
								</div>
							</div>
							<!-- END CLUBS LINKS -->
						</div>
						<div class="col-xs-12 col-sm-6 col-target region">
							<!-- COPY RESOURCES LINKS INTO SECOND REGION-->
							<div class="display-flex flex-column align-items-center">
								<h3 class="bold text-center">Resources for [PROGRAM NAME HERE] Students</h3>
								<div class="program-grid">
									<a class="button-border border-uvu-green" href="#">Club</a>
									<a class="button-border border-uvu-green" href="#">Club</a>
									<a class="button-border border-uvu-green" href="#">Club</a>
									<a class="button-border border-uvu-green" href="#">Club</a>
								</div>
							</div>
							<!-- END RESOURCES LINKS -->
						</div>
					</div>
				</div>
			</section>
	
			<!-- ALTERNATE VERSION WITH SOCIAL MEDIA LINKS ON THE LEFT SIDE -->
			<section class="padding-top-40 padding-bottom-40 border-top-2 border-uvu-green">
				<!-- SET SECTION TO TWO COLUMN, PUT BORDER CLASSES ON SECTION -->
				<div class="container-fluid">
					<div class="row equal-height">
						<div class="col-xs-12 col-sm-6 col-target region">
							<!-- COPY SOCIAL LINKS INTO FIRST REGION -->
							<div class="display-flex flex-column align-items-center">
								<h2 class="bold text-center text-24">Join a [PROGRAM NAME HERE] Club</h2>
								<div class="display-flex justify-content-center align-items-center flex-wrap margin-top-20">
									<a class="display-block" href="#" target="_blank" rel="noopener">
										<p class="fab fa-facebook fa-xl text-48 text-uvu-green" aria-hidden="true">&nbsp;</p>
									</a>
									<a class="display-block" href="#" target="_blank" rel="noopener">
										<p class="fab fa-instagram fa-xl text-48 margin-left-15 text-uvu-green" aria-hidden="true">&nbsp;</p>
									</a>
									<a class="display-block" href="#" target="_blank" rel="noopener">
										<p class="fab fa-twitter fa-xl text-48 margin-left-15 text-uvu-green" aria-hidden="true">&nbsp;</p>
									</a>
									<a class="display-block" href="#" target="_blank" rel="noopener">
										<p class="fab fa-youtube fa-xl text-48 margin-left-15 text-uvu-green" aria-hidden="true">&nbsp;</p>
									</a>
									<a class="display-block" href="#" target="_blank" rel="noopener">
										<p class="fab fa-linkedin-in fa-xl text-48 margin-left-15 text-uvu-green" aria-hidden="true">&nbsp;</p>
									</a>
								</div>
							</div>
							<!-- END SOCIAL LINKS -->
						</div>
						<div class="col-xs-12 col-sm-6 col-target region">
							<!-- COPY RESOURCES INTO SECOND REGION -->
							<div class="display-flex flex-column align-items-center">
								<h2 class="bold text-center text-24">Resources for [PROGRAM NAME HERE] Students</h2>
								<a class="button-border border-uvu-green" href="#">Resource</a>
								<a class="button-border border-uvu-green" href="#">Resource</a>
								<a class="button-border border-uvu-green" href="#">Resource</a>
							</div>
							<!-- END RESOURCES SECTION -->
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
