<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />

		<title>Salaries Section</title>
	</head>
	<body>
		<main>
			<section class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="text-center">
						<img src="../images/113-cash-1.png" alt="dollar bill icon" width="200" height="200" />
						<p class="text-rajdhani text-uvu-green text-96 bold">$164,070</p>
						<p class="text-lato text-24 bold">Median Salary Computer and<br />Information Systems Manager</p>
						<p class="text-lato italic text-18">
							(Based on
							<a href="https://www.bls.gov/ooh/management/computer-and-information-systems-managers.htm" target="_blank" rel="noopener"
								>2023 BLS Statistics</a
							>)
						</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="row padding-top-10 display-flex flex-row align-items-center">
						<div class="col-sm-3"><img src="../images/116-financial-growth.png" alt="financial growth icon" width="200" height="200" /></div>
						<div class="col-sm-9">
							<p class="text-lato text-24 margin-0">
								From 2022 to 2032, an average of <strong>377,500</strong> job openings are projected each year.
							</p>
						</div>
					</div>
					<div class="row padding-top-10 display-flex flex-row align-items-center">
						<div class="col-sm-3"><img src="../images/93-online-class-2.png" alt="online class icon" width="200" height="200" /></div>
						<div class="col-sm-9">
							<p class="text-lato text-24 margin-0">
								Students receive a broad education in <strong>business, technology, and cybersecurity.</strong>
							</p>
						</div>
					</div>
					<div class="row padding-top-10 display-flex flex-row align-items-center">
						<div class="col-sm-3"><img src="../images/108-online-education-3.png" alt="handshake icon" width="200" height="200" /></div>
						<div class="col-sm-9">
							<p class="text-lato text-24 margin-0">
								IS&amp;T graduates<span>&nbsp;help bridge the gap between the <strong>technology</strong> and <strong>business</strong> worlds.</span>
							</p>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
