<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../wrapper.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
		<link href="../css/scroll-cards.css" rel="stylesheet" />

		<title>Scroll Cards</title>
	</head>
	<body>
		<!-- FROM NEW UVU ADMISSIONS PAGE -->
		<section class="padding-top-40 padding-bottom-40">
			<!-- SET SECTION TO FULL WIDTH ONE COLUMN, COPY ALL BELOW CODE INTO ONE REGION -->
			<div class="row equal-height flex-row">
				<div class="col-xs-12 col-sm-4 col-target region">
					<div class="card-list-label">
						<p>Hundreds of Jobs <span class="sub">in Many Industries</span></p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-target region card-list-holder">
					<div class="scroll-container">
						<ol class="card-list scroll-container-inner">
							<li class="card one">
								<div class="card-content">
									<div class="main-content">
										<h3>Card Title</h3>
										<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
									</div>
									<div class="link">
										<p><a href="#" target="_blank" rel="noopener">Call to Action</a></p>
									</div>
								</div>
							</li>
							<li class="card two">
								<div class="card-content">
									<div class="main-content">
										<h3>Card Title</h3>
										<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
									</div>
									<div class="link">
										<p><a href="#" target="_blank" rel="noopener">Call to Action</a></p>
									</div>
								</div>
							</li>
							<li class="card three">
								<div class="card-content">
									<div class="main-content">
										<h3>Card Title</h3>
										<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
									</div>
									<div class="link">
										<p><a href="#" target="_blank" rel="noopener">Call to Action</a></p>
									</div>
								</div>
							</li>
							<li class="card four">
								<div class="card-content">
									<div class="main-content">
										<h3>Card Title</h3>
										<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
									</div>
									<div class="link">
										<p><a href="#" target="_blank" rel="noopener">Call to Action</a></p>
									</div>
								</div>
							</li>
							<li class="card five">
								<div class="card-content">
									<div class="main-content">
										<h3>Card Title</h3>
										<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
									</div>
									<div class="link">
										<p><a href="#" target="_blank" rel="noopener">Call to Action</a></p>
									</div>
								</div>
							</li>
							<li class="card six">
								<div class="card-content">
									<div class="main-content">
										<h3>Card Title</h3>
										<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
									</div>
									<div class="link">
										<p><a href="#" target="_blank" rel="noopener">Call to Action</a></p>
									</div>
								</div>
							</li>
							<li class="card seven">
								<div class="card-content">
									<div class="main-content">
										<h3>Card Title</h3>
										<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
									</div>
									<div class="link">
										<p><a href="#" target="_blank" rel="noopener">Call to Action</a></p>
									</div>
								</div>
							</li>
							<!-- TO ADD MORE CARDS, JUST COPY ONE OF THE li ELEMENTS AND CHANGE THE NUMBER IN THE CLASS LIST -->
						</ol>
					</div>
				</div>
			</div>
			<!-- END OF SCROLL CARDS -->
		</section>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
