<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
		<link href="../css/buttons.css" rel="stylesheet" />
		<link href="../css/shapes-banner.css" rel="stylesheet" />

		<title>Shapes Banner</title>
	</head>
	<body>
		<!-- https://www.uvu.edu/online/programs/sudc/index.html -->
		<section class="padding-top-40 padding-bottom-40 mental-health">
			<div class="container-fluid">
				<div class="row equal-height flex-row">
					<div class="col-xs-12 col-sm-6 col-target region mental-health-left">
						<h1 class="font-weight-500 text-48 text-white">Wellness Resources</h1>
						<a class="button-border border-white" href="#">UVU Mental Health</a>
					</div>
					<div class="col-xs-12 col-sm-6 col-target region mental-health-right">
						<h2 class="uppercase bold">Your Mental Health Matters</h2>
						<p>
							Mental health is vital to student success and an important part of your overall well-being. Throughout your time in higher education,
							you may face a variety of challenges, obstacles, and pressures that make it difficult to navigate your daily life, let alone reach your
							academic goals. If you are struggling with your mental health, know that you do not have to navigate these challenges alone.
						</p>
					</div>
				</div>
			</div>
		</section>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
		<script src="../slider.js"></script>
	</body>
</html>
