<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME V6 -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/resources.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<!-- CSS FOR THIS COMPONENT -->
		<link href="../css/slider.css" rel="stylesheet" />

		<!--- IMPORT SLICK.JS - INCLUDED IN ALL UVU PAGES -->
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
		<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

		<title>Testimonial Slider</title>
	</head>
	<body>
		<!-- MODIFIED FROM NEW CHSS SITE BY AL BAKER FOR CET PAGES -->
		<!-- COPY CODE FROM slider.js INTO THE dept.js FILE OF YOUR SITE -->
		<main id="content-wrap" class="content-wrap">
			<!-- SHORT QUOTE, HEADSHOT, NAME, AND DEPARTMENT FOR STUDENT TESTIMONIALS-->
			<section class="padding-top-40 padding-bottom-40">
				<!-- SET SECTION TO ONE COLUMN -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- COPY INTO ONE REGION -->
							<div class="responsive-slider">
								<div class="slick-items">
									<div>
										<div class="testimonial-card card-content card-multicontent card-content-shadow border-radius-0">
											<div class="card-content-container-1">
												<p><span class="fas fa-quote-left fa-1x text-clover" aria-hidden="true">&nbsp;</span></p>
												<p class="student-words">
													Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim,
													metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.
												</p>
											</div>
											<div class="card-content-container-2 bg-uvu-green padding-10 margin-top-75">
												<div class="text-center">
													<img src="https://placehold.co/150x150/" alt="placeholder" width="150" height="150" />
												</div>
												<div class="card-content-header text-center">
													<h3 class="card-content-title text-white uppercase bold">[STUDENT NAME]</h3>
													<p class="margin-top-10 text-white text-12">[DEPARTMENT NAME]</p>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="testimonial-card card-content card-multicontent card-content-shadow border-radius-0">
											<div class="card-content-container-1">
												<p><span class="fas fa-quote-left fa-1x text-clover" aria-hidden="true">&nbsp;</span></p>
												<p class="student-words">
													Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim,
													metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.
												</p>
											</div>
											<div class="card-content-container-2 bg-uvu-green padding-10 margin-top-75">
												<div class="text-center">
													<img src="https://placehold.co/150x150/" alt="placeholder" width="150" height="150" />
												</div>
												<div class="card-content-header text-center">
													<h3 class="card-content-title text-white uppercase bold">[STUDENT NAME]</h3>
													<p class="margin-top-10 text-white text-12">[DEPARTMENT NAME]</p>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="testimonial-card card-content card-multicontent card-content-shadow border-radius-0">
											<div class="card-content-container-1">
												<p><span class="fas fa-quote-left fa-1x text-clover" aria-hidden="true">&nbsp;</span></p>
												<p class="student-words">
													Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim,
													metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.
												</p>
											</div>
											<div class="card-content-container-2 bg-uvu-green padding-10 margin-top-75">
												<div class="text-center">
													<img src="https://placehold.co/150x150/" alt="placeholder" width="150" height="150" />
												</div>
												<div class="card-content-header text-center">
													<h3 class="card-content-title text-white uppercase bold">[STUDENT NAME]</h3>
													<p class="margin-top-10 text-white text-12">[DEPARTMENT NAME]</p>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="testimonial-card card-content card-multicontent card-content-shadow border-radius-0">
											<div class="card-content-container-1">
												<p><span class="fas fa-quote-left fa-1x text-clover" aria-hidden="true">&nbsp;</span></p>
												<p class="student-words">
													Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim,
													metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus.
												</p>
											</div>
											<div class="card-content-container-2 bg-uvu-green padding-10 margin-top-75">
												<div class="text-center">
													<img src="https://placehold.co/150x150/" alt="placeholder" width="150" height="150" />
												</div>
												<div class="card-content-header text-center">
													<h3 class="card-content-title text-white uppercase bold">[STUDENT NAME]</h3>
													<p class="margin-top-10 text-white text-12">[DEPARTMENT NAME]</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- END TESTIMONIAL SLIDER -->
						</div>
					</div>
				</div>
			</section>
		</main>
		<script src="../js/slider.js"></script>
	</body>
</html>
