<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
		<link href="../css/slider.css" rel="stylesheet" />

		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

		<title>Testimonial Slider</title>
	</head>
	<body>
		<main>
			<div class="responsive-slider" data-import="false">
				<ul class="slick-items">
					<li>
						<div class="testimonial-card card-content card-multicontent card-content-shadow border-radius-0">
							<div class="card-content-container-1">
								<p><span class="fas fa-quote-left fa-1x text-clover" aria-hidden="true">&nbsp;</span></p>
								<p class="student-words">
									I came to UVU because it's accessible to everyone. I'm a married father of five who works part-time. UVU is challenging, but the
									professors are willing to help their students succeed.
								</p>
							</div>
							<div class="card-content-container-2 bg-uvu-green padding-10 margin-top-75">
								<div class="text-center">
									<img title="David Fernandez" src="{{f:63297415}}" alt="professional headshot of a man" width="150" height="150" />
								</div>
								<div class="card-content-header text-center">
									<h3 class="card-content-title text-white uppercase bold">David Fernandez</h3>
									<p class="margin-top-10 text-white text-12">Mechanical &amp; Civil Engineering</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="testimonial-card card-content card-multicontent card-content-shadow border-radius-0">
							<div class="card-content-container-1">
								<p><span class="fas fa-quote-left fa-1x text-clover" aria-hidden="true">&nbsp;</span></p>
								<p class="student-words">
									I can go pretty much anywhere in the world with this degree and be able to work on any kind of project that I want.
								</p>
							</div>
							<div class="card-content-container-2 bg-uvu-green padding-10 margin-top-75">
								<div class="text-center">
									<img title="Gavin McLaren" src="{{f:63297416}}" alt="professional headshot of a man" width="150" height="150" />
								</div>
								<div class="card-content-header text-center">
									<h3 class="card-content-title text-white uppercase bold">Gavin Mclaren</h3>
									<p class="margin-top-10 text-white text-12">Technology Management &amp; Mechatronics</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="testimonial-card card-content card-multicontent card-content-shadow border-radius-0">
							<div class="card-content-container-1">
								<p><span class="fas fa-quote-left fa-1x text-clover" aria-hidden="true">&nbsp;</span></p>
								<p class="student-words">
									There are professors, there are advisors, there are tutors, there are friends, there are fellow students that are all ready to help
									you. You can find success.
								</p>
							</div>
							<div class="card-content-container-2 bg-uvu-green padding-10 margin-top-75">
								<div class="text-center">
									<img title="Jayden Tanner" src="{{f:63297413}}" alt="professional headshot of a woman" width="150" height="150" />
								</div>
								<div class="card-content-header text-center">
									<h3 class="card-content-title text-white uppercase bold">Jayden Tanner</h3>
									<p class="margin-top-10 text-white text-12">Applied Engineering &amp; Transportation Technologies</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="testimonial-card card-content card-multicontent card-content-shadow border-radius-0">
							<div class="card-content-container-1">
								<p><span class="fas fa-quote-left fa-1x text-clover" aria-hidden="true">&nbsp;</span></p>
								<p class="student-words">
									CET helped me learn how I can do what I love and get real-world experience before I graduate. I am thankful the DGM faculty have
									taken the time to guide me thoughout my journey.
								</p>
							</div>
							<div class="card-content-container-2 bg-uvu-green padding-10 margin-top-75">
								<div class="text-center">
									<img title="Emma Lam" src="{{f:63297414}}" alt="professional headshot of a woman" width="150" height="150" />
								</div>
								<div class="card-content-header text-center">
									<h3 class="card-content-title text-white uppercase bold">Emma Lam</h3>
									<p class="margin-top-10 text-white text-12">Digital Media</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</main>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
