<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />

		<title>Social Media Banner</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER FOR USE ON ALL CET PAGES -->
		<section class="row padding-top-40 padding-bottom-40">
			<!-- SET SECTION TO FULL WIDTH ONE COLUMN AND COPY SOCIAL LINKS INTO ONE REGION -->
			<div class="col-xs-12 col-target region">
				<!-- START SOCIAL MEDIA SECTION -->
				<div class="row border-top-2 border-uvu-green">
					<h2 class="bold text-center margin-bottom-20 margin-top-65 text-24">Get Involved With [DEPT NAME] on Social Media</h2>
					<div class="display-flex justify-content-center align-items-center flex-wrap margin-bottom-40">
						<a class="display-block" href="#" target="_blank" rel="noopener">
							<p class="fab fa-facebook fa-xl text-48 text-uvu-green" aria-hidden="true">&nbsp;</p>
						</a>
						<a class="display-block" href="#" target="_blank" rel="noopener">
							<p class="fab fa-instagram fa-xl text-48 margin-left-15 text-uvu-green" aria-hidden="true">&nbsp;</p>
						</a>
						<a class="display-block" href="#" target="_blank" rel="noopener">
							<p class="fab fa-twitter fa-xl text-48 margin-left-15 text-uvu-green" aria-hidden="true">&nbsp;</p>
						</a>
						<a class="display-block" href="#" target="_blank" rel="noopener">
							<p class="fab fa-youtube fa-xl text-48 margin-left-15 text-uvu-green" aria-hidden="true">&nbsp;</p>
						</a>
						<a class="display-block" href="#" target="_blank" rel="noopener">
							<p class="fab fa-linkedin-in fa-xl text-48 margin-left-15 text-uvu-green" aria-hidden="true">&nbsp;</p>
						</a>
					</div>
				</div>
				<!-- END SOCIAL MEDIA SECTION -->
			</div>
		</section>		
	</body>
</html>
