<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
		<link href="../css/stats-clickable.css" rel="stylesheet" />

		<title>Stats Banner Clickable</title>
	</head>
	<body>
		<!-- INSPIRED BY OLD WOODBURY HOME PAGE. MODIFIED BY AL BAKER. STATIC VERSION ALSO AVAILABLE -->
		<!-- SET SECTION TO FULL WIDTH ONE COLUMN, REDUCE PADDING TO 20 ON TOP AND BOTTOM, BG-UVU-GREEN -->
		<section class="padding-top-20 padding-bottom-20 bg-uvu-green">
			<!-- PUT FOLLOWING CODE INTO ONE REGION -->
			<div class="col-xs-12 col-target region">
				<div class="degree-section">
					<div class="degree-container">
						<a class="degree-button" title="Certificates" href="https://www.uvu.edu/ist/degrees/index.html#cert" target="_blank" rel="noopener">
							<span class="text-48 bold padding-10 countup">7</span>
							<span class="text-22 padding-10">Certificate<br />Programs</span>
						</a>
					</div>
					<div class="degree-container">
						<a class="degree-button" title="Associates" href="https://www.uvu.edu/ist/degrees/index.html#as" target="_blank" rel="noopener">
							<span class="text-48 bold padding-10 countup" data-count-delay="50">4</span>
							<span class="text-22 padding-10">Associate<br />Degrees</span>
						</a>
					</div>
					<div class="degree-container">
						<a class="degree-button" title="Minors" href="https://www.uvu.edu/ist/degrees/index.html#minor" target="_blank" rel="noopener">
							<span class="text-48 bold padding-10 countup" data-count-delay="100">7</span>
							<span class="text-22 padding-10">Degree<br />Minors</span>
						</a>
					</div>
					<div class="degree-container">
						<a class="degree-button" title="Bachelors" href="https://www.uvu.edu/ist/degrees/index.html#bs" target="_blank" rel="noopener">
							<span class="text-48 bold padding-10 countup" data-count-delay="150">7</span>
							<span class="text-22 padding-10">Bachelor<br />Degrees</span>
						</a>
					</div>
					<div class="degree-container">
						<a class="degree-button" title="Masters" href="https://www.uvu.edu/ist/degrees/index.html#ms-cyber" target="_blank" rel="noopener">
							<span class="text-48 bold padding-10 countup" data-count-delay="150">1</span>
							<span class="text-22 padding-10">Master<br />Degrees</span>
						</a>
					</div>
				</div>
				<!-- END BANNER -->
			</div>
		</section>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
