<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
			crossorigin="anonymous"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link href="../common.css" rel="stylesheet" />
		<link href="../wrapper.css" rel="stylesheet" />
		<link href="../dept.css" rel="stylesheet" />
		<link href="../css/styled-list.css" rel="stylesheet" />

		<title>Styled Ordered List</title>
	</head>
	<body>
		<main>
			<!-- CODED BY AL BAKER FOR USE ON CET SITES -->
			<section class="row padding-top-40 padding-bottom-40">
				<!-- SET SECTION TO ONE COLUMN AND PUT THIS CODE INTO ONE REGION -->
				<div class="col-xs-12 col-target region">
					<!-- BEGIN STYLED ORDERED LIST -->
					<ol class="styled-list">
						<li>
							<div>
								<h4 class="uppercase bold text-black">List Heading - Question or Statement</h4>
								<p><span class="bold uppercase">Yes</span> proceed to Step #2.</p>
								<p>
									<span class="bold uppercase">No</span> please visit the
									<a href="https://www.uvu.edu/admissions/" target="_blank" rel="noopener">UVU Admissions page.</a>
								</p>
							</div>
						</li>
						<li>
							<div>
								<h4 class="uppercase bold text-black">List Heading - Question or Statement</h4>
								<p>Additional information about this step.</p>
								<p><span class="bold uppercase">Yes</span> proceed to Step #3.</p>
								<p>
									<span class="bold uppercase">No</span> please follow the instructions on the
									<a href="https://www.uvu.edu/transfer/" target="_blank" rel="noopener">UVU Transfer page.</a>
								</p>
							</div>
						</li>
						<li>
							<div>
								<h4 class="uppercase bold text-black">List Heading - Question or Statement</h4>
								<p>Additional information about this step.</p>
								<p><span class="bold uppercase">Yes</span> proceed to Step #4.</p>
								<p>
									<span class="bold uppercase">No</span> please complete the online orientation. Visit the
									<a href="https://www.uvu.edu/orientation/" target="_blank" rel="noopener">UVU Orientation page</a> for more information.
								</p>
							</div>
						</li>
						<li>
							<div>
								<h4 class="uppercase bold text-black">List Heading - Question or Statement</h4>
								<p>Additional information about this step.</p>
							</div>
						</li>
					</ol>
					<!-- END OF STYLIZED ORDERED LIST -->
				</div>
				<!-- EACH STEP CAN HAVE YES/NO OPTIONS, ADDITIONAL INFORMATION, A SUB-LIST, ETC. -->
			</section>
		</main>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
			crossorigin="anonymous"
		></script>
	</body>
</html>
