<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME V6 -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/369097350a.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/icon-text-button.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<!-- CSS FOR THIS COMPONENT -->
		<link type="text/css" rel="stylesheet" href="/css/video-banner.css" />

		<title>Video Banner</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER FOR USE ON ALL CET PAGES -->
		<main id="content-wrap" class="content-wrap">
			<!-- BANNER TITLE, DESCRIPTION, OPTIONAL BUTTON, VIDEO -->
			<section class="padding-top-40 padding-bottom-40 bg-uvu-green video-banner">
				<!-- SET SECTION TO TWO COLUMN, ADD BG COLOR CLASS AND .video-banner CLASS TO SECTION -->
				<div class="container-fluid">
					<!-- ADJUST CLASSES ON .row DIV TO MATCH BELOW -->
					<div class="row display-flex flex-row align-items-center flex-wrap">
						<!-- ADD .video-content CLASS TO FIRST REGION FOR APFY SHAPES -->
						<div class="col-xs-12 col-sm-6 col-target region video-content">
							<!-- START REGION ONE -->
							<h2 class="text-36 margin-top-0 text-white">Banner Title</h2>
							<p class="text-white">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem maxime in, accusamus facilis molestias necessitatibus nesciunt culpa!
								Culpa facere ipsam officia impedit alias accusantium assumenda deserunt sed, a saepe inventore.
							</p>
							<p><a class="button-border border-white text-white" href="#" target="_blank" rel="noopener">Call to Action</a></p>
							<!-- END REGION ONE -->
						</div>
						<!-- ADD .video CLASS TO REGION TWO -->
						<div class="col-xs-12 col-sm-6 col-target region video">
							<!-- EMBED VIDEO IN REGION TWO USING THE OMNI VIDEO EMBED TOOL -->
							<!-- BELOW IS A SAMPLE VIDEO, DON'T COPY -->
							<div style="max-width: 560; max-height: 315">
								<div style="width: 100%; padding-bottom: 56.25%; position: relative">
									<iframe
										title="| UVU - Aerospace Technology Management"
										src="https://www.youtube.com/embed/FYMbTlngXGc?si=Xc-pUMrAHx3CibZH&amp;enablejsapi=1"
										frameborder="0"
										allowfullscreen="allowfullscreen"
										data-import="false"
										style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px"
										id="widget2"
										data-gtm-yt-inspected-27="true"
									></iframe>
								</div>
							</div>
							<!-- END REGION TWO -->
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
