<div class="ws-landing-container">
	<div class="ws-landing-title bg-uvu-green">
		<!-- LINK TO YOUR BLOG -->
		<a href="/college-name/department-name/blog/" class="text-white justify-content-center display-flex flex-column padding-40">
			<p class="text-rajdhani text-32 uppercase margin-bottom-0 bold">See More</p>
			<p class="text-rajdhani text-28 uppercase margin-bottom-0">Recent Sews <span class="fa fa-arrow-right margin-left-15 ws-arrow"></span></p>
		</a>
	</div>

	<div class="ws-landing-primary">
		<a class="padding-0 display-block flex-grow-2" href="{{items.[0].link}}">
			<img src="{{items.[0].image.src}}" alt="{{items.[0].image.alt}}" class="ws-primary-img"/>
			<div class="ws-primary-details text-lato text-white padding-left-40 padding-right-40 padding-bottom-25">
				<h3 class="text-28 text-white uppercase bold">
					{{items.[0].title}}
				</h3>
				<p class="text-20 italic border-top-1 border-white">
					{{items.[0].description}}
				</p>
			</div>
		</a>
	</div>

	<!-- LINK ALL TO YOUR SECONDARY NEWS BANNER IMAGES -->
	<div  class="ws-landing-secondary">
		<a class="padding-0 display-block flex-grow-2">
			<img src="https://placehold.co/500x300/" alt="placeholder" height="300px" width="500px" class="ws-secondary-img"/>
		</a>
	</div>
	<div class="ws-landing-secondary">
		<a class="padding-0 display-block flex-grow-2">
			<img src="https://placehold.co/500x300/" alt="placeholder" height="300px" width="500px" class="ws-secondary-img"/>
		</a>
	</div>
	<div  class="ws-landing-secondary">
		<a class="padding-0 display-block flex-grow-2">
			<img src="https://placehold.co/500x300/" alt="placeholder" height="300px" width="500px" class="ws-secondary-img"/>
		</a>
	</div>
	<div class="ws-landing-secondary">
		<a class="padding-0 display-block flex-grow-2">
			<img src="https://placehold.co/500x300/" alt="placeholder" height="300px" width="500px" class="ws-secondary-img"/>
		</a>
	</div>
	<div  class="ws-landing-secondary">
		<a class="padding-0 display-block flex-grow-2">
			<img src="https://placehold.co/500x300/" alt="placeholder" height="300px" width="500px" class="ws-secondary-img"/>
		</a>
	</div>
</div>