<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/57846c262b.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/icon-text-button.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<!-- CSS FOR THIS COMPONENT -->
		<title>Main Degree Section</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER FOR USE ON ALL CET PROGRAM PAGES -->
		<main id="content-wrap" class="content-wrap">
			<!-- PROGRAM DESCRIPTION, DEGREE CARDS, HELPFUL LINKS, OPTIONAL DROPDOWN AND/OR ACCREDITATION -->
			<section class="padding-top-40 padding-bottom-40">
				<!-- SET SECTION TO TWO COLUMN BIG LEFT -->
				<div class="container-fluid">
					<div class="row equal-height">
						<div class="col-xs-12 col-sm-8 col-target region">
                            <!-- CONTENT FOR REGION ONE (BIG LEFT REGION) -->
							<h2>About the Program</h2>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus repellat, cumque accusantium eius ut hic totam. Commodi atque, dolore
								iusto cumque consequatur dignissimos, eum expedita eius quidem vero repellendus nihil! Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus repellat, cumque accusantium eius ut hic totam. Commodi atque, dolore
								iusto cumque consequatur dignissimos, eum expedita eius quidem vero repellendus nihil!
							</p>
                            <a class="button-border border-uvu-green" href="#">Optional Call to Action</a>
                            <div class="degree-card large-card">
								<img src="https://placehold.co/370x194" alt="placeholder" width="370" height="194" />
								<div>
									<h3 class="degree-name">Degree Name</h3>
									<p class="degree-credits">[#] Credits to Graduate</p>
									<p>Corem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
									<a href="#" target="_blank" rel="noopener">Emphasis Catalog Link<span class="fas fa-arrow-right fa-xs margin-left-10" aria-hidden="true">&nbsp;</span></a>
									<a href="#" target="_blank" rel="noopener">Emphasis Catalog Link 2<span class="fas fa-arrow-right fa-xs margin-left-10" aria-hidden="true">&nbsp;</span></a>
								</div>
							</div>
                            <div class="degree-card large-card clickable">
								<img src="https://placehold.co/370x194" alt="placeholder" width="370" height="194" />
								<div>
									<h3 class="degree-name">
										<a href="#" target="_blank" rel="noopener">
											Degree Name<span class="fas fa-arrow-right fa-xs margin-left-10" aria-hidden="true">&nbsp;</span>
										</a>
									</h3>
									<p class="degree-credits">[#] Credits to Graduate</p>
									<p>Corem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
								</div>
							</div>
                            <!-- CAN ADD MORE DEGREE CARDS. THESE CARDS ARE FOR THE MAIN DEGREES FOR A PROGRAM, USUALLY THE B.S. OR A.S./A.A.S. -->
                            <!-- END REGION -->
						</div>
                        <div class="col-xs-12 col-sm-4 col-target region">
                            <!-- CONTENT FOR REGION TWO (SMALL RIGHT REGION) -->
                            <h2 class="text-black font-weight-400 text-24">Helpful Links</h2>
                            <ul class="links-list links-list-1">
								<li><a class="pdf" href="#" target="_blank" rel="noopener">Program Information</a></li>
								<li><a class="external" href="#" target="_blank" rel="noopener">UVU Professional Licensure</a></li>
								<li><a href="#">Program Learning Outcomes</a></li>
								<li><a href="#">ABET Program Education Objectives</a></li>
							</ul>
                            <!-- USE APPROPRIATE LINKS FOR YOUR PROGRAM. THESE ARE SUGGESTIONS -->
                            <!-- END REGION -->
                        </div>
                        <div class="col-xs-12 col-target region">
                            <!-- CONTENT FOR THIRD REGION (ONLY IF A PROGRAM HAS ACCREDITATION INFO OR NEEDS A DROPDOWN) -->
                            <div class="row display-flex flex-row align-items-center flex-wrap">
                                <div class="col-xs-12 col-sm-8 col-target region">
                                    <p>The B.S. in [Degree Name] is accredited by the ABET [Accreditation Commision] Accreditation Commission.</p>
                                    <p><a class="external" href="https://abet.org/">Learn More About ABET Accreditation</a></p>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-target region text-center">
                                    <img src="https://placehold.co/370x150" alt="ABET logo" />
                                </div>
                            </div>
                            <!-- INSERT DROPDOWN HERE IF NECESSARY -->
                            <!-- END REGION -->
                        </div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
