<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/57846c262b.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/icon-text-button.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<!-- CSS FOR THIS COMPONENT -->
		<link type="text/css" rel="stylesheet" href="/css/resource-card.css" />
        <link type="text/css" rel="stylesheet" href="/css/shapes-banner.css" />

		<title>Student Resources Page</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER FOR USE ON ALL CET COLLEGE-LEVEL AND DEPARTMENT-LEVEL STUDENT RESOURCES PAGES -->
		<main id="content-wrap" class="content-wrap">
			<!-- HEADER, DEPARTMENT LEVEL RESOURCES. SHOULD BE FIRST SECTION ON PAGE -->
			<section class="padding-top-40 padding-bottom-40">
				<!-- SET SECTION TO ONE COLUMN -->
				<div class="container-fluid">
					<!-- USE APPROPRIATE ICONS FROM FONTAWESOME V5 -->
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- HEADER REGION. CHANGE TO APPROPRIATE ICON FOR DEPARTMENT -->
							<h2 class="text-center uppercase font-weight-600 text-uvu-green text-30">[Dept. Acronym] Student Resources</h2>
							<hr class="section-divider-icon fal fa-paperclip" aria-hidden="true" />
							<!-- END HEADER REGION -->
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- RESPONSIVE LAYOUT FOR 4 RESOURCE CARDS (DOUBLE FOR 8 CARDS) -->
							<div class="row equal-height">
								<div class="col-xs-12 col-sm-6 col-md-3 col-target region">
									<div class="box-shadow bg-white clickable display-flex flex-column align-items-center height-100">
										<div class="padding-top-20 padding-right-20 padding-left-20 padding-bottom-5 text-center flex-grow">
											<i class="fal fa-users fa-4x text-forest" aria-hidden="true"></i>
											<p class="text-rajdhani text-28 margin-top-20 text-forest uppercase bold">[Resource Name]</p>
										</div>
										<a class="display-block bg-forest text-white text-center padding-10 width-100 card-btn-hover card-btn-forest" href="#">
											View [Resource]
										</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3 col-target region">
									<div class="box-shadow bg-white clickable display-flex flex-column align-items-center height-100">
										<div class="padding-top-20 padding-right-20 padding-left-20 padding-bottom-5 text-center flex-grow">
											<i class="fal fa-users fa-4x text-forest" aria-hidden="true"></i>
											<p class="text-rajdhani text-28 margin-top-20 text-forest uppercase bold">[Resource Name]</p>
										</div>
										<a class="display-block bg-forest text-white text-center padding-10 width-100 card-btn-hover card-btn-forest" href="#">
											View [Resource]
										</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3 col-target region">
									<div class="box-shadow bg-white clickable display-flex flex-column align-items-center height-100">
										<div class="padding-top-20 padding-right-20 padding-left-20 padding-bottom-5 text-center flex-grow">
											<i class="fal fa-users fa-4x text-forest" aria-hidden="true"></i>
											<p class="text-rajdhani text-28 margin-top-20 text-forest uppercase bold">[Resource Name]</p>
										</div>
										<a class="display-block bg-forest text-white text-center padding-10 width-100 card-btn-hover card-btn-forest" href="#">
											View [Resource]
										</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3 col-target region">
									<div class="box-shadow bg-white clickable display-flex flex-column align-items-center height-100">
										<div class="padding-top-20 padding-right-20 padding-left-20 padding-bottom-5 text-center flex-grow">
											<i class="fal fa-users fa-4x text-forest" aria-hidden="true"></i>
											<p class="text-rajdhani text-28 margin-top-20 text-forest uppercase bold">[Resource Name]</p>
										</div>
										<a class="display-block bg-forest text-white text-center padding-10 width-100 card-btn-hover card-btn-forest" href="#">
											View [Resource]
										</a>
									</div>
								</div>
							</div>
							<!-- END RESPONSIVE LAYOUT -->
						</div>
						<div class="col-xs-12 col-target region">
							(Optional dropdown or Card: Picture Card option 8 with more resources requiring longer description text.)
						</div>
					</div>
				</div>
			</section>

			<!-- ALTERNATE LAYOUT FOR FIRST SECTION ON PAGE -->
			<section class="padding-top-40 padding-bottom-40">
				<!-- SET SECTION TO ONE COLUMN -->
				<div class="container-fluid">
					<!-- USE APPROPRIATE ICONS FROM FONTAWESOME V5 -->
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- HEADER REGION. CHANGE TO APPROPRIATE ICON FOR DEPARTMENT -->
							<h2 class="text-center uppercase font-weight-600 text-uvu-green text-30">[Dept. Acronym] Student Resources</h2>
							<hr class="section-divider-icon fal fa-paperclip" aria-hidden="true" />
							<!-- END HEADER REGION -->
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- RESPONSIVE LAYOUT FOR 3 RESOURCE CARDS (DOUBLE FOR 6 CARDS) -->
							<div class="row equal-height">
								<div class="col-xs-12 col-sm-6 col-md-4 col-target region">
									<div class="box-shadow bg-white clickable display-flex flex-column align-items-center height-100">
										<div class="padding-top-20 padding-right-20 padding-left-20 padding-bottom-5 text-center flex-grow">
											<i class="fal fa-users fa-4x text-forest" aria-hidden="true"></i>
											<p class="text-rajdhani text-28 margin-top-20 text-forest uppercase bold">[Resource Name]</p>
										</div>
										<a class="display-block bg-forest text-white text-center padding-10 width-100 card-btn-hover card-btn-forest" href="#">
											View [Resource]
										</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-target region">
									<div class="box-shadow bg-white clickable display-flex flex-column align-items-center height-100">
										<div class="padding-top-20 padding-right-20 padding-left-20 padding-bottom-5 text-center flex-grow">
											<i class="fal fa-users fa-4x text-forest" aria-hidden="true"></i>
											<p class="text-rajdhani text-28 margin-top-20 text-forest uppercase bold">[Resource Name]</p>
										</div>
										<a class="display-block bg-forest text-white text-center padding-10 width-100 card-btn-hover card-btn-forest" href="#">
											View [Resource]
										</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-target region">
									<div class="box-shadow bg-white clickable display-flex flex-column align-items-center height-100">
										<div class="padding-top-20 padding-right-20 padding-left-20 padding-bottom-5 text-center flex-grow">
											<i class="fal fa-users fa-4x text-forest" aria-hidden="true"></i>
											<p class="text-rajdhani text-28 margin-top-20 text-forest uppercase bold">[Resource Name]</p>
										</div>
										<a class="display-block bg-forest text-white text-center padding-10 width-100 card-btn-hover card-btn-forest" href="#">
											View [Resource]
										</a>
									</div>
								</div>
							</div>
							<!-- END RESPONSIVE LAYOUT -->
						</div>
						<div class="col-xs-12 col-target region">
							(Optional dropdown or Card: Picture Card option 8 with more resources requiring longer description text.)
						</div>
					</div>
				</div>
			</section>

			<!-- MENTAL HEALTH BANNER SHOULD ALWAYS BE SECTION RIGHT BEFORE UNIVERSITY RESOURCES -->
			<section class="padding-top-40 padding-bottom-40 mental-health">
				<!-- SET SECTION TO ONE COLUMN -->
				<div class="container-fluid">
					<!-- PUT FOLLOWING CODE INTO ONE REGION -->
					<div class="row equal-height flex-row">
						<div class="col-xs-12 col-sm-6 col-target region mental-health-left">
							<h2 class="font-weight-500 text-48 text-white">Wellness Resources</h2>
							<a class="button-border border-white text-white" href="{{d:6984340}}" target="_blank" rel="noopener">UVU Mental Health</a>
						</div>
						<div class="col-xs-12 col-sm-6 col-target region mental-health-right">
							<h3 class="uppercase bold text-28">Your Mental Health Matters</h3>
							<p>
								Mental health is vital to student success and an important part of your overall well-being. Throughout your time in higher education,
								you may face a variety of challenges, obstacles, and pressures that make it difficult to navigate your daily life, let alone reach
								your academic goals. If you are struggling with your mental health, know that you do not have to navigate these challenges alone.
							</p>
						</div>
					</div>
					<!-- END REGION -->
				</div>
			</section>

			<!-- HEADER, UNIVERSITY LEVEL RESOURCES -->
			<section class="padding-top-40 padding-bottom-40">
				<!-- SET SECTION TO ONE COLUMN -->
				<div class="container-fluid">
					<!-- USE APPROPRIATE ICONS FROM FONTAWESOME V5 -->
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- HEADER REGION. LEAVE DIVIDER TEXT AND ICON AS IS -->
							<h2 class="text-center uppercase font-weight-600 text-uvu-green text-30">University Resources</h2>
							<hr class="section-divider-icon fal fa-paperclip" aria-hidden="true" />
							<!-- END HEADER REGION -->
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- START UNIVERSITY RESOURCES LAYOUT. LEAVE ALL ICONS, TEXT, AND LINKS AS IS -->
							<div class="row equal-height">
								<div class="col-xs-12 col-sm-6 col-md-4 col-target region">
									<div class="box-shadow bg-white clickable display-flex flex-column align-items-center height-100">
										<div class="padding-top-20 padding-right-20 padding-left-20 padding-bottom-5 text-center flex-grow">
											<i class="fal fa-calendar-alt fa-4x text-uvu-green" aria-hidden="true"></i>
											<h3 class="text-28 text-uvu-green uppercase bold">Academic Calendar</h3>
											<p class="text-left">
												View important dates for admissions, registration, holidays, and finals. Office hours are 8 am to 5 pm Monday through Friday.
											</p>
										</div>
										<a
											class="display-block bg-uvu-green text-white text-center padding-10 width-100 card-btn-hover card-btn-primary"
											href="{{d:392718}}"
											target="_blank"
											rel="noopener"
										>
											View Schedule
										</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-target region">
									<div class="box-shadow bg-white clickable display-flex flex-column align-items-center height-100">
										<div class="padding-top-20 padding-right-20 padding-left-20 padding-bottom-5 text-center flex-grow">
											<i class="fal fa-people-arrows fa-4x text-uvu-green" aria-hidden="true"></i>
											<h3 class="text-28 text-uvu-green uppercase bold">Academic Tutoring</h3>
											<p class="text-left">
												Enhance your study habits, boost test scores, and achieve your educational goals. Available online or in person.
											</p>
										</div>
										<a
											class="display-block bg-uvu-green text-white text-center padding-10 width-100 card-btn-hover card-btn-primary"
											href="{{d:4867911}}"
											target="_blank"
											rel="noopener"
										>
											View Tutoring
										</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-target region">
									<div class="box-shadow bg-white clickable display-flex flex-column align-items-center height-100">
										<div class="padding-top-20 padding-right-20 padding-left-20 padding-bottom-5 text-center flex-grow">
											<i class="fal fa-info-circle fa-4x text-uvu-green" aria-hidden="true"></i>
											<h3 class="text-28 text-uvu-green uppercase bold">Accessibility Services</h3>
											<p class="text-left">
												We provide accommodations for students and visitors with disabilities, including temporary conditions and pregnancy
												accommodations.
											</p>
										</div>
										<a
											class="display-block bg-uvu-green text-white text-center padding-10 width-100 card-btn-hover card-btn-primary"
											href="{{d:3612831}}"
											target="_blank"
											rel="noopener"
										>
											View Services
										</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-target region">
									<div class="box-shadow bg-white clickable display-flex flex-column align-items-center height-100">
										<div class="padding-top-20 padding-right-20 padding-left-20 padding-bottom-5 text-center flex-grow">
											<i class="fal fa-mouse-pointer fa-4x text-uvu-green" aria-hidden="true"></i>
											<h3 class="text-28 text-uvu-green uppercase bold">Course Catalog</h3>
											<p class="text-left">
												Not sure what classes are needed, or want to compare degrees? Look at the catalog for the most up-to-date information.
											</p>
										</div>
										<a
											class="display-block bg-uvu-green text-white text-center padding-10 width-100 card-btn-hover card-btn-primary"
											href="https://catalog.uvu.edu/"
											target="_blank"
											rel="noopener"
										>
											View Catalog
										</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-target region">
									<div class="box-shadow bg-white clickable display-flex flex-column align-items-center height-100">
										<div class="padding-top-20 padding-right-20 padding-left-20 padding-bottom-5 text-center flex-grow">
											<i class="fal fa-browser fa-4x text-uvu-green" aria-hidden="true"></i>
											<h3 class="text-28 text-uvu-green uppercase bold">Registration</h3>
											<p class="text-left">
												Find registration deadlines and learn how to add, drop, and audit classes through various online tutorials.
											</p>
										</div>
										<a
											class="display-block bg-uvu-green text-white text-center padding-10 width-100 card-btn-hover card-btn-primary"
											href="{{d:388629}}"
											target="_blank"
											rel="noopener"
										>
											View Registration
										</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-target region">
									<div class="box-shadow bg-white clickable display-flex flex-column align-items-center height-100">
										<div class="padding-top-20 padding-right-20 padding-left-20 padding-bottom-5 text-center flex-grow">
											<i class="fal fa-money-bill-alt fa-4x text-uvu-green" aria-hidden="true"></i>
											<h3 class="text-28 text-uvu-green uppercase bold">Financial Aid &amp; Scholarships</h3>
											<p class="text-left">The Financial Aid &amp; Scholarships Office is available by walk-in and appointment.</p>
										</div>
										<a
											class="display-block bg-uvu-green text-white text-center padding-10 width-100 card-btn-hover card-btn-primary"
											href="{{d:389435}}"
											target="_blank"
											rel="noopener"
										>
											View Financial Aid
										</a>
									</div>
								</div>
							</div>
							<!-- END UNIVERSITY RESOURCES LAYOUT -->
						</div>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>
