<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="color-scheme" content="only light" />

		<!-- GLOBAL UVU CSS -->
		<link rel="stylesheet" href="https://uvu.edu/_common/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/global.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/component.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/elements/elements.css" type="text/css" />
		<link rel="stylesheet" href="https://uvu.edu/_common/css/helpers/helpers.css" type="text/css" />
		<link type="text/css" rel="stylesheet" href="https://uvu.edu/_common/css/wrapper/wrapper.css" />

		<!-- GOOGLE FONTS AND FONTAWESOME -->
		<link
			href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700|Raleway:400,500,600,700,800,900|Lato:400,500,600,700,800,900|Montserrat:400,500,600,700,800,900"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/57846c262b.js" crossorigin="anonymous"></script>

		<!-- GLOBAL UVU JAVASCRIPT -->
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/loadjs.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="https://uvu.edu/_common/js/config.js"></script>

		<!-- GLOBAL CET CSS -->
		<link type="text/css" rel="stylesheet" href="/css/global/advisor-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/buttons.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/degree-cards.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/faculty-card.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/links-list.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/news.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/icon-text-button.css" />
		<link type="text/css" rel="stylesheet" href="/css/global/dept.css" />

		<!-- CSS FOR THIS COMPONENT -->
		<title>Main Degree Section</title>
	</head>
	<body>
		<!-- CODED BY AL BAKER FOR USE ON ALL CET PROGRAM PAGES -->
		<main id="content-wrap" class="content-wrap">
			<!-- FOR ASSOCIATE DEGREES -->
			<section class="padding-top-40 padding-bottom-40">
				<!-- SET SECTION TO ONE COLUMN -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- CONTENT FOR HEADER REGION -->
							<h2>Stack Your Degrees and Earn an Associate</h2>
							<p class="margin-bottom-0">
								The Department of [Department Name] offers several associate and associate of applied science degrees that students can start with to
								build a core in [degree focus] basics. Build off of an associate of science degree into a bachelor's degree, or jump straight into the
								workforce after an associate of applied science.
							</p>
							<!-- END HEADER REGION -->
						</div>
						<div class="col-xs-12 col-target region">
							<!-- RESPONSIVE LAYOUT FOR SHORT DEGREE CARDS -->
							<div class="row equal-height">
								<div class="col-xs-12 col-sm-6 col-target region">
									<div class="degree-card short-card clickable">
										<img src="https://placehold.co/370x194" alt="placeholder" width="370" height="194" />
										<div>
											<h3 class="degree-name">
												<a href="#" target="_blank" rel="noopener">
													Degree Name<span class="fas fa-arrow-right fa-xs margin-left-10" aria-hidden="true">&nbsp;</span>
												</a>
											</h3>
											<p class="degree-credits">[#] Credits to Graduate</p>
											<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-target region">
									<div class="degree-card short-card clickable">
										<img src="https://placehold.co/370x194" alt="placeholder" width="370" height="194" />
										<div>
											<h3 class="degree-name">
												<a href="#" target="_blank" rel="noopener">
													Degree Name<span class="fas fa-arrow-right fa-xs margin-left-10" aria-hidden="true">&nbsp;</span>
												</a>
											</h3>
											<p class="degree-credits">[#] Credits to Graduate</p>
											<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-target region">
									<div class="degree-card short-card clickable">
										<img src="https://placehold.co/370x194" alt="placeholder" width="370" height="194" />
										<div>
											<h3 class="degree-name">
												<a href="#" target="_blank" rel="noopener">
													Degree Name<span class="fas fa-arrow-right fa-xs margin-left-10" aria-hidden="true">&nbsp;</span>
												</a>
											</h3>
											<p class="degree-credits">[#] Credits to Graduate</p>
											<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- END RESPONSIVE LAYOUT -->
						</div>
					</div>
				</div>
			</section>

            <!-- FOR MINORS -->
			<section class="padding-top-40 padding-bottom-40">
                <!-- SET SECTION TO ONE COLUMN -->
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-target region">
							<!-- CONTENT FOR HEADER REGION -->
							<h2>Looking to Supplement Your Bachelor's Degree?</h2>
							<p class="margin-bottom-0">
								The [program name] program has several minors available for students outside the Department of [Department Name] who would like
								additional training in [skill related to program], [second skill], and [third skill].
							</p>
							<!-- END HEADER REGION -->
						</div>
                        <div class="col-xs-12 col-target region">
							<!-- RESPONSIVE LAYOUT FOR SHORT DEGREE CARDS -->
							<div class="row equal-height">
								<div class="col-xs-12 col-sm-6 col-target region">
									<div class="degree-card short-card clickable">
										<img src="https://placehold.co/370x194" alt="placeholder" width="370" height="194" />
										<div>
											<h3 class="degree-name">
												<a href="#" target="_blank" rel="noopener">
													Degree Name<span class="fas fa-arrow-right fa-xs margin-left-10" aria-hidden="true">&nbsp;</span>
												</a>
											</h3>
											<p class="degree-credits">[#] Credits to Graduate</p>
											<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-target region">
									<div class="degree-card short-card clickable">
										<img src="https://placehold.co/370x194" alt="placeholder" width="370" height="194" />
										<div>
											<h3 class="degree-name">
												<a href="#" target="_blank" rel="noopener">
													Degree Name<span class="fas fa-arrow-right fa-xs margin-left-10" aria-hidden="true">&nbsp;</span>
												</a>
											</h3>
											<p class="degree-credits">[#] Credits to Graduate</p>
											<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-target region">
									<div class="degree-card short-card clickable">
										<img src="https://placehold.co/370x194" alt="placeholder" width="370" height="194" />
										<div>
											<h3 class="degree-name">
												<a href="#" target="_blank" rel="noopener">
													Degree Name<span class="fas fa-arrow-right fa-xs margin-left-10" aria-hidden="true">&nbsp;</span>
												</a>
											</h3>
											<p class="degree-credits">[#] Credits to Graduate</p>
											<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- END RESPONSIVE LAYOUT -->
						</div>
					</div>
				</div>
			</section>

            <!-- FOR CERTIFICATES/DIPLOMAS -->
            <section class="padding-top-40 padding-bottom-40">
                <!-- SET SECTION TO ONE COLUMN -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-target region">
							<!-- CONTENT FOR HEADER REGION -->
							<h2>Want to Jump Into the Workforce?</h2>
							<p class="margin-bottom-0">
								The [program name] program has several short certificates and diplomas available in different specializations for students looking for
								advanced skills leading to direct employment in different careers within the [industry name] industry. These certificates can stack
								into an associate degree.
							</p>
							<!-- END HEADER REGION -->
						</div>
                        <div class="col-xs-12 col-target region">
							<!-- RESPONSIVE LAYOUT FOR SHORT DEGREE CARDS -->
							<div class="row equal-height">
								<div class="col-xs-12 col-sm-6 col-target region">
									<div class="degree-card short-card clickable">
										<img src="https://placehold.co/370x194" alt="placeholder" width="370" height="194" />
										<div>
											<h3 class="degree-name">
												<a href="#" target="_blank" rel="noopener">
													Degree Name<span class="fas fa-arrow-right fa-xs margin-left-10" aria-hidden="true">&nbsp;</span>
												</a>
											</h3>
											<p class="degree-credits">[#] Credits to Graduate</p>
											<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-target region">
									<div class="degree-card short-card clickable">
										<img src="https://placehold.co/370x194" alt="placeholder" width="370" height="194" />
										<div>
											<h3 class="degree-name">
												<a href="#" target="_blank" rel="noopener">
													Degree Name<span class="fas fa-arrow-right fa-xs margin-left-10" aria-hidden="true">&nbsp;</span>
												</a>
											</h3>
											<p class="degree-credits">[#] Credits to Graduate</p>
											<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-target region">
									<div class="degree-card short-card clickable">
										<img src="https://placehold.co/370x194" alt="placeholder" width="370" height="194" />
										<div>
											<h3 class="degree-name">
												<a href="#" target="_blank" rel="noopener">
													Degree Name<span class="fas fa-arrow-right fa-xs margin-left-10" aria-hidden="true">&nbsp;</span>
												</a>
											</h3>
											<p class="degree-credits">[#] Credits to Graduate</p>
											<p>Rorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- END RESPONSIVE LAYOUT -->
						</div>
                    </div>
                </div>
            </section>
		</main>
	</body>
</html>
